<form [formGroup]="form" (ngSubmit)="handleChange()">
  <div class="kpi-card-filter p-px-5 p-pt-5">
    <div *ngIf="kpiCardFilter?.chartType === 'stacked-bar-chart'">
      <p-selectButton
        [options]="kpiCardFilter?.dataGroup?.dataGroup1"
        (onChange)="onSelectButtonChange($event)"
        optionLabel="name"
        optionValue="key"
      >
      </p-selectButton>
    </div>
    <div *ngIf="kpiCardFilter?.chartType === 'grouped-bar-chart'">
      <p-selectButton
      [options]="kpiCardFilter?.categoryData?.categoryGroup"
      (onChange)="onSelectButtonChange($event)"
      optionLabel="categoryName"
      optionValue="categoryName"
    >
    </p-selectButton>
    </div>
    <div class="filterSection" *ngIf="kpiCardFilter?.chartType !== 'chartWithFilter'">
      <ng-container
        class="p-p-1"
        *ngFor="let filter of kpiCardFilter?.filterGroup?.filterGroup1"
      >
        <p-multiSelect
          [options]="getOptions(filter?.filterKey)"
          [formControlName]="filter?.filterKey"
          (onChange)="handleChange()"
          (onClear)="clearFilters()"
          [filter]="true"
          [placeholder]="filter?.filterName"
          [showClear]="true"
          (onClear)="clearMultiSelect(filter?.filterKey)"
        >
        </p-multiSelect>
      </ng-container>
    </div>
  </div>
</form>
