<form [formGroup]="form" (ngSubmit)="handleChange()">
    <div class="kpi-card-filter p-px-5 p-pt-5">
        <div *ngIf="kpiCardFilter?.chartType === 'stacked-bar-chart'" id="">
            <p-selectButton 
                [options]="kpiCardFilter?.dataGroup?.dataGroup1" 
                (onChange)="onSelectButtonChange($event)"
                optionLabel="name" 
                optionValue="key">
            </p-selectButton>
        </div>
        <div class="filterSection">
            <div class="p-p-1" *ngFor="let filter of kpiCardFilter?.filterGroup?.filterGroup1">
                <p-dropdown 
                    [options]="getOptions(filter?.filterKey)" 
                    [formControlName]="filter?.filterKey" 
                    (onChange)="handleChange()"
                    [filter]="true" 
                    [placeholder]="filter?.filterName"
                    [showClear]="true">
                </p-dropdown>
                <div class="selected-val" *ngIf="form.value[filter?.filterKey]">{{ form.value[filter?.filterKey] }}</div>
            </div>
        </div>
    </div>
</form>