<div class="filter-container p-grid p-m-0">
    <div class="p-d-flex p-col-fixed p-pl-0 p-pr-0 scrum-kanban-switch">
        <div class="tabs">
            <div class="tab" (click)="setSelectedType('Scrum')" [ngClass]="{ 'active': selectedType === 'scrum', 'disabled': !kanbanRequired?.enabled }">Scrum
            </div>
            <div class="tab" (click)="setSelectedType('Kanban')"
                [ngClass]="{ 'active': selectedType === 'kanban', 'disabled': !kanbanRequired?.enabled }">
                Kanban</div>
        </div>
    </div>
    <div class="p-d-flex p-col-fixed p-jc-end p-pl-0 p-pr-0 primary-filter-container" *ngIf="filterDataArr[selectedType]">
        <app-parent-filter *ngIf="getObjectKeys(parentFilterConfig).length" class="p-mr-2"
            [filterData]="filterDataArr[selectedType]" [selectedTab]="selectedTab"
            (onSelectedLevelChange)="handleParentFilterChange($event)" [selectedType]="selectedType"
            [selectedTab]="selectedTab" [parentFilterConfig]="parentFilterConfig"></app-parent-filter>
        <app-primary-filter [filterData]="filterDataArr[selectedType]" [selectedLevel]="selectedLevel"
            [selectedType]="selectedType" [primaryFilterConfig]="primaryFilterConfig" [selectedTab]="selectedTab"
            (onPrimaryFilterChange)="handlePrimaryFilterChange($event)"></app-primary-filter>
    </div>
    <div class="p-col-fixed p-pl-0 p-pr-0 additional-filter-container">
        <ng-container *ngIf="additionalFilterConfig?.length">
            <app-additional-filter [selectedTab]="selectedTab" [selectedLevel]="selectedLevel"
                [selectedType]="selectedType" [additionalFilterConfig]="additionalFilterConfig"
                (onPrimaryFilterChange)="handleAdditionalChange($event)"></app-additional-filter>
        </ng-container>
    </div>
</div>
<div class="selected-filter-container p-d-flex p-jc-between p-pl-3 p-pr-3">
    <ul class="p-m-0 p-pl-0 p-d-flex p-flex-wrap">
        <ng-container *ngIf="getObjectKeys(colorObj).length">
            <ng-container *ngFor="let item of getObjectKeys(colorObj); let i = index;">
                <li class="selectedfilter p-mr-3">
                    <div class="selected-node">
                        <div class="selected-node-label p-pl-0">
                            <span class="align-list-marker" [title]="colorObj[item]?.nodeName"
                                [ngStyle]="{'background':colorObj[item]?.color}"></span>
                            <span class="p-l-1">{{filterType | uppercase}} {{ colorObj[item]?.nodeName?.length<= 20 ? colorObj[item]?.nodeName :
                                    colorObj[item]?.nodeName?.slice(0,20)+'...'}} <span class="remove-node"
                                    (click)="removeFilter(colorObj[item]?.nodeId)">&times;</span>
                            </span>
                        </div>
                    </div>
                </li>
            </ng-container>
        </ng-container>
    </ul>
    <div class="date-filter-container">
        <!-- Date filter start -->
        <div class="position-relative" *ngIf="kanban || this.selectedTab?.toLowerCase() === 'developer'">
            <div class="p-d-flex p-align-center p-p-2 rounded p-ml-2 date-filter-btn"
                #dateToggleButton [ngClass]="{'active': toggleDateDropdown}"
                (click)="toggleDateDropdown = !toggleDateDropdown">
                <i class="pi pi-calendar-plus p-mr-2"></i>
                Date Filter
            </div>
            <div class="filter-options-container date-filter-dropdown" *ngIf="toggleDateDropdown" #dateDrpmenu>
                <div class="filter-options filter-date p-d-flex p-jc-evenly">
                    <p-dropdown [styleClass]="'date-filter-ddn'" [options]="dateRangeFilter?.counts" [(ngModel)]="selectedDateValue"></p-dropdown>
                    <p-dropdown [styleClass]="'date-filter-ddn'" [options]="dateRangeFilter?.types" (onChange)="setSelectedDateType($event.value)"></p-dropdown>
                </div>
                <div class="p-d-flex p-justify-end p-align-center btn-container">
                    <button pButton pRipple label="Apply" class="p-button-secondary p-button-sm btn-apply"
                        (click)="applyDateFilter()"></button>
                </div>
            </div>
        </div>
        <!-- Date filter end -->
    </div>
</div>
