<div #parentFilterDiv>
    <span class="p-float-label">
        <p-dropdown [options]="filterLevels" [(ngModel)]="selectedLevel" inputId="singleselectParentFilter"
            placeholder="Select {{ parentFilterConfig['name'] }}"
            [style]="{'width':'180px', 'max-width': '100%', 'height': '40px'}"
            [panelStyle]="{ 'min-width': 'min(100vw, 250px)' }" 
            (onChange)="handleSelectedLevelChange()" [appendTo]="parentFilterDiv"></p-dropdown>
        <label class="floating-label" for="singleselectParentFilter">Select {{ parentFilterConfig['labelName']
            }}</label>
    </span>
</div>