<div class="trend-table-container">
    <table class="header-table">
        <tbody>
            <tr *ngFor="let item of headerObj">
                <td>{{ item }}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr *ngFor="let item of dataObj; let i = index;">
                <td class="p-text-center" width="80" *ngFor="let value of item | keyvalue">
                    <div class="indicator" *ngIf="i === 0" [ngStyle]="{'background-color': value.value}"></div>
                    <span *ngIf="i > 0" [ngStyle]="{'color': value.value.indexOf('--') === -1 && value.value.indexOf('+ve') >= 0 ? 'green' : value.value.indexOf('--') === -1 && value.value.indexOf('-ve') >= 0 ? 'red' : '#333333' }">{{ value.value }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>