[defaults]
host_key_checking = False
; inventory = hosts
; remote_user = root
; roles_path = roles
; callback_whitelist = profile_tasks
;
; record_host_keys = False
; retry_files_enabled = False
; timeout = 1800
; forks = 10
;
; [ssh_connection]
; control_path = %(directory)s/%%h-%%p-%%r
; ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
;
; [persistent_connection]
; connect_timeout = 1800
; command_timeout = 1800
;
; [privilege_escalation]
; become = True
; become_method = sudo
; become_user = root
; become_ask_pass = False

