

    <app-daily-scrum *ngIf="!displayModal" 
    [onFullScreen]="displayModal"
    [assigneeList]="assigneeList" 
    [columns]="columns" 
    [filterData]="filterData"
    [displayModal]="displayModal" 
    [showLess]="showLess"
    [filters]="filters"
    [selectedUser]="selectedUser"
    (onExpandOrCollapse)="setExpandView($event)"
    (onShowLessOrMore)="onShowLessOrMore()"
    (onFilterChange)="onFilterChange($event)"
    (onSelectedUserChange)="onSelectedUserChange($event)"
    [issueData]="issueData"
    [standUpStatusFilter]="standUpStatusFilter"
   >
</app-daily-scrum>
<div class="expandCollapseModal">
<p-dialog [(visible)]="displayModal">
    <app-daily-scrum 
    [onFullScreen]="displayModal"
    [assigneeList]="assigneeList" 
    [columns]="columns" 
    [filterData]="filterData"
    [displayModal]="displayModal" 
    [showLess]="showLess"
    [filters]="filters"
    [selectedUser]="selectedUser"
    (onExpandOrCollapse)="setExpandView($event)"
    (onShowLessOrMore)="onShowLessOrMore()"
    (onFilterChange)="onFilterChange($event)"
    (onSelectedUserChange)="onSelectedUserChange($event)"
    [issueData]="issueData"
    [standUpStatusFilter]="standUpStatusFilter">
    </app-daily-scrum>
</p-dialog>

</div>
