/* modal css */

:host ::ng-deep .p-dialog-header{
    display: none;
}

:host ::ng-deep .p-dialog-content{
    padding: 0;
}

:host ::ng-deep .p-dialog.p-component.p-dialog-draggable.p-dialog-resizable{
    max-width: 100vw !important;
    max-height: 100vh;
    height: 100vh;
    width: 100vw !important;
}