<div class="no-access-screen p-pt-3">
    <div class="no-access-block">
      <img src="../../../assets/img/no_access.svg" class="no-access-icon" alt="no-access" />
      <div class="no-access-content p-pt-5" *ngIf="userEnable else noAccessToKpis">
        <p>You will not be able to access the {{this.selectedTab}} dashboard and configuration options because it is disabled</p>
        <p>Go to Show/Hide KPI's button to make it enabled</p>
      </div>
      <ng-template #noAccessToKpis>
        <div class="no-access-content p-pt-5" *ngIf="!isSuperAdmin else normalUserText">
          <p>You will not be able to access the {{this.selectedTab}} dashboard and configuration options because it is disabled</p>
          <p>Connect with SUPERADMIN/PROJECT Admin to get it enabled</p>
        </div>
        <ng-template #normalUserText>
          <div class="no-access-content p-pt-5">
              <p>You will not be able to access the {{this.selectedTab}} dashboard and configuration options because it is disabled</p>
              <p>Go to Dashboard Configuration setting, to make it enabled</p>
          </div>
        </ng-template>
      </ng-template> 
      </div>
  </div>