.no-access-screen {height: 80vh;text-align: center;position:relative; width: 100%;}
.no-access-screen .no-access-icon {width: 270px;height: 270px;}
.no-access-screen .no-access-content{color: #707070; font-size: 18px;line-height: 32px;}
.no-access-block {position: absolute;transform: translate(-50%, -50%);left: 50%;top: 50%;}