<div style="display: flex; overflow-y: visible; overflow-x: visible;" #addnlFilterDiv>
    <ng-container *ngFor="let config of additionalFilterConfig; let i = index;">
        <span class="p-float-label"
            [pTooltip]="config.defaultLevel.labelName === 'Squad' && 'Squad selection applies to Sprint KPIs only'"
            tooltipPosition="bottom"
            *ngIf="filterData?.length && filterData[i]?.length && config['type'] !== 'singleSelect'"
            style="margin-left: 10px;">
            <p-multiSelect #multiSelect [inputId]="'multiselectFilter_' + i"
                [disabled]="squadLevel?.hierarchyLevelName === config.defaultLevel.labelName && selectedTrends?.length > 1"
                [style]="{'width':'200px', 'max-width': '100%', 'height': '40px'}" defaultLabel="Select"
                [optionLabel]="'nodeDisplayName'" [panelStyle]="{ 'min-width': 'min(100vw, 400px)' }"
                [appendTo]="addnlFilterDiv" [(ngModel)]="selectedFilters[i]" [options]="filterData[i]"
                (onChange)="onSelectionChange($event, i)" (onPanelShow)="moveSelectedOptionToTop($event, i)">
                <ng-template pTemplate="footer">
                    <div class="p-p-3 p-text-right">
                        <p-button label="Apply" (onClick)="applyAdditionalFilter(selectedFilters, i + 1, true)"
                            [style]="{backgroundColor: '#0B4BC8'}"></p-button>
                    </div>
                </ng-template>
            </p-multiSelect>
            <label class="floating-label" [for]="'multiselectFilter_' + i">Select {{ config.defaultLevel.labelName
                }}</label>
        </span>
        <span *ngIf="filterData?.length && filterData[i]?.length && config['type'] === 'singleSelect'"
            class="p-float-label" style="margin-left: 10px;">
            <p-dropdown [inputId]="'singleselectFilter_' + i" placeholder="Select"
                [style]="{'width':'200px', 'max-width': '100%', 'height': '40px'}" [optionLabel]="'nodeName'"
                [panelStyle]="{ 'min-width': 'min(100vw, 400px)' }" [appendTo]="addnlFilterDiv"
                [(ngModel)]="selectedFilters[i]" [options]="filterData[i]" (onChange)="onDropDownChange($event, i + 1)">
            </p-dropdown>
            <label class="floating-label" [for]="'singleselectFilter_' + i">Select {{ config.defaultLevel.labelName
                }}</label>
        </span>
    </ng-container>
</div>