apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  labels:
    {{- include "knowhow-zookeeper.labels" . | nindent 4 }}
  namespace: {{ .Values.env}}-knowhow
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "knowhow-zookeeper.selectorLabels" . | nindent 4 }}
