<p-dialog [(visible)]="displayModal" [modal]="true" [draggable]="true" [resizable]="true"
  (onHide)="clearModalDataOnClose()">
  <p-header>
    <div>
      {{modalDetails['header']}}
      <div class="export-button">
        <button *ngIf="modalDetails['tableValues'].length > 0" pButton pRipple label="Save" class="p-p-2 p-mr-2" [disabled] = "isDisableSaveCOnfigurationBtn"
          (click)="saveTableColumnOrder()"></button>
        <button *ngIf="modalDetails['tableValues'].length > 0" style="line-height: 1.4" pButton pRipple label="Export View"
          class="p-button-secondary p-p-2 p-mr-2" (click)="generateExcel('filtered')"></button>
        <button *ngIf="modalDetails['tableValues'].length > 0" style="line-height: 1.4" pButton pRipple label="Export All"
          class="p-button-secondary p-p-2 p-mr-2" (click)="generateExcel('all')"></button>
      </div>
    </div>
    <div *ngIf="markerInfo?.length > 0" class="p-d-flex  p-flex-wrap">
      <span *ngFor="let marker of markerInfo" class="p-m-2 markerInfo"> <i class='fas fa-square'
          [ngStyle]="{'color': marker?.color}"></i> {{marker?.info}}</span>
    </div>
    </p-header>

  <div class="dialog-body p-mb-4">
    <p-table #table *ngIf="modalDetails['tableValues'].length > 0 ; else showNoDataMessage" [reorderableColumns]="true"
      [value]="modalDetails['tableValues']" styleClass="p-datatable-gridlines kpi-table" loadingIcon="loading-img" [columns]="modalDetails['tableHeadings']"
      [scrollable]="true" scrollHeight="65vh" >
      <ng-template pTemplate="caption">
        <p-multiSelect [options]="tableColumns" [(ngModel)]="selectedColumns" resetFilterOnHide="true"
          selectedItemsLabel="{0} columns selected" [optionValue]="'columnName'" [optionLabel]="'columnName'"
          optionDisabled="isDefault" [style]="{minWidth: '220px', 'border':'none'}" placeholder="Choose Columns">
          <ng-template pTemplate="selectedItems">
            <p-button styleClass="p-button-outlined column-btn">Column &nbsp; <img
                src="../../../assets/img/column-triple-svgrepo-com.svg" alt="Column filter icon" /></p-button>
          </ng-template>
          <ng-template pTemplate="footer">
            <hr>
            <p-button label="Apply" class="p-mb-2 p-mr-2 columns-btn" (click)="applyColumnFilter()"></p-button>
          </ng-template>

        </p-multiSelect>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <ng-container *ngFor="let item of modalDetails['tableHeadings']">
            <th [pSortableColumn]="item" id="{{item}}" scope="item" class="min-max-width" pReorderableColumn [pReorderableColumnDisabled]="forzenColumns.includes(item?.toLowerCase())" pFrozenColumn alignFrozen="left"
            [frozen]="forzenColumns?.includes(item?.toLowerCase())" [ngClass]="{'overlap': filteredColumn === item,'move-top':forzenColumns?.includes(item?.toLowerCase())}" 
            [ngStyle]="{'max-width': modalDetails['tableHeadings']?.length < 3 ? 'inherit' : '190px'}">
              <div class="table-head" >
                <span [ngStyle]="{'width':'max-content','margin-right': '1rem'}">{{item}}</span>
                <div class="p-d-flex">
                  <p-columnFilter [field]="item" matchMode="in" *ngIf="!excludeColumnFilter.includes(item)"
                    [showMenu]="false" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                    [showClearButton]="false" [showApplyButton]="false" [style]="{'margin-top':'2px'}">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback" #filter>
                      <p-multiSelect resetFilterOnHide="true" autofocusFilter="true" (onPanelShow)="onFilterClick(item)"
                        (onPanelHide)="onFilterBlur(item)" [options]="this.tableColumnData[item]"
                        [placeholder]="'Select '+ item" (onChange)="filter($event.value)" [optionValue]="'value'"
                        [optionLabel]="'name'" [ngModel]="tableColumnForm[item]" styleClass="column-filter">
                        <ng-template pTemplate="selectedItems">
                          <i class="pi pi-filter-icon pi-filter" style="font-size: 0.8rem"></i>
                        </ng-template>
                      </p-multiSelect>
                    </ng-template>
                  </p-columnFilter>
                  <p-sortIcon [field]="item" *ngIf="!excludeColumnFilter.includes(item)" ></p-sortIcon>
                </div>
              </div>
            </th>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-index="rowIndex">
        <tr [pReorderableRow]="index">
          <ng-container *ngFor="let column of modalDetails['tableHeadings']">
            <!-- need to add different container for issue id because issue id marker was not working -->
           <ng-container *ngIf="column?.toLowerCase() === 'issue id'">
            <td class="font-small p-p-0 text-center min-max-width" pFrozenColumn>
              <div class="cell-indicator">
                <div class="color-indicator" [ngStyle]="{'background-color': rowData['marker'] ? rowData['marker'] : ''}"></div>
                <a [href]="rowData[column].hyperlink" class="text-blue p-ml-1"  rel="noopener" target="_blank">{{rowData[column].text}}</a>
              </div>
            </td>
           </ng-container>
           <ng-container *ngIf="column?.toLowerCase() !== 'issue id'">
            <td class="font-small min-max-width multidata-col" pFrozenColumn [frozen]="forzenColumns?.includes(column?.toLowerCase())" [ngStyle]="{'max-width': modalDetails['tableHeadings']?.length < 3 ? 'inherit' : '190px'}">
              <ng-container [ngSwitch]="checkIfArray(rowData[column]) ? 'array' : (rowData[column]?.hasOwnProperty('hyperlink') ? 'hyperlink' : (column.toLowerCase() === 'sprint rating' ? 'sprintRating' :(column.toLowerCase().includes('date'))?'date': 'other'))">
                <ng-container *ngSwitchCase="'array'">
                  <ng-container *ngFor="let data of rowData[column]">
                    <a *ngIf="data?.hasOwnProperty('hyperlink')" [href]="data['hyperlink']" class="text-blue column-content-spacing" rel="noopener" target="_blank">{{data['text']}}</a>
                    <ng-template #displayData>
                      <p class="column-content-spacing">{{data}}</p>
                    </ng-template>
                  </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'hyperlink'">
                  <a [href]="rowData[column]['hyperlink']" class="text-blue" rel="noopener" target="_blank">{{rowData[column]['text']}}</a>
                </ng-container>
                <ng-container *ngSwitchCase="'sprintRating'">
                  <img [src]="sprintRatingObj[rowData[column]]" alt="rating" />
                </ng-container>
                <ng-container *ngSwitchCase="'other'">
                  {{rowData[column]?.length > 60 ? (rowData[column].slice(0,60)+'...') : rowData[column]}}
                </ng-container>
                <ng-container *ngSwitchCase="'date'">
                  {{rowData[column] | isoDateFormat}}
                </ng-container>
              </ng-container>
            </td>
           </ng-container>
           
          </ng-container>
          
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="modalDetails['tableHeadings'].length">No data found.</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template #showNoDataMessage>
      <hr>
      <h2 class="p-text-center">No Data Available</h2>
    </ng-template>
  </div>

</p-dialog>
