.text-blue{
    color: var(--color-secondary-blue);
    text-decoration: underline;
    margin : 3px !important;
}

:host::ng-deep .p-dialog{
    width: auto !important;
    max-width: 90vw !important;
    min-width: 544px;
}

:host ::ng-deep.p-dialog-header-icons{
    top: -8px;
    right: -8px;
    border-radius: 2px;
    background-color: black;
    border: none;
    padding: 5px;
}

:host ::ng-deep .p-dialog-header-close-icon {
    color: white;
  }

.column-content-spacing{
    margin: 0px 0px 4px 0px;
    display: inline-block;
}

.export-button{
    position: absolute;
    right: 10px;
    top: 14px;
}

::ng-deep .p-overflow-hidden{
    overflow: unset;
}

:host::ng-deep.kpi-table.p-datatable .p-datatable-thead > tr > th.dragged{
    border: 2px dashed #1D4ED8;
}

:host::ng-deep.p-datatable-scrollable .p-datatable-tbody>tr>td.multidata-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
}

.table-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.min-max-width{
    min-width:190px;
    /* max-width: 190px; */
    word-break: break-word;
}

.overlap{
    z-index: 1000 !important;
}

:host ::ng-deep .p-multiselect-items-wrapper{
    max-height: 140px !important;
}

:host ::ng-deep.column-filter .p-multiselect-label{
    padding: 0px;
}

:host ::ng-deep.column-filter .p-multiselect-trigger{
    display: none;
}
:host ::ng-deep.p-datatable-header{
    border: none;
    padding-top: 0px;
}

:host ::ng-deep.column-filter.p-multiselect{
    border: none;
    background-color: transparent;
}

:host ::ng-deep.p-multiselect-filter-container{
    min-width: 100px;
}

:host ::ng-deep th .p-multiselect-panel{
    left:-200px !important;
    max-width: 250px;
}

:host ::ng-deep th:first-child .p-multiselect-panel{
    left:0px !important;
}

:host::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
    font-weight: bold;
}

:host ::ng-deep.p-dialog.p-component.p-dialog-draggable{
    min-height: 400px;
}

:host ::ng-deep.p-multiselect .p-multiselect-label{
    color: #1D4ED8;
}

:host ::ng-deep.p-multiselect .p-multiselect-label.p-placeholder{
    color: rgba(0, 0, 0, 0.6);
}

:host ::ng-deep.p-multiselect-open{
    z-index: 2000;
}

:host ::ng-deep.p-sortable-column-badge{
    display: none !important;
}

:host ::ng-deep.p-sortable-column-icon{
    font-size: 0.8rem;
    margin-left: 0.4rem;
}

:host ::ng-deep .p-datatable-header{
    padding-left: 0px;
}

:host::ng-deep.kpi-table.p-datatable .p-datatable-thead > tr > th{
    padding: 0rem 1rem;
    border: 1px solid #e4e4e4;
}

:host ::ng-deep .p-datatable-scrollable .p-datatable-wrapper{
    min-height: 300px;
}

.markerInfo{
    font-size: 0.75rem;
}

:host ::ng-deep.column-filter.p-multiselect{
    border: none;
    background-color: transparent;
}

:host ::ng-deep.column-filter .p-multiselect-label{
    padding: 0px;
}

:host ::ng-deep.column-filter .p-multiselect-trigger{
    display: none;
}
