<p-dialog [(visible)]="displayModal" [modal]="true" [draggable]="true" [resizable]="true"
  (onHide)="clearModalDataOnClose()">
  <p-header>
    {{modalDetails['header']}}
    <button *ngIf="modalDetails['tableValues'].length > 0" pButton pRipple label="Export"
      class="p-button-secondary p-p-2 export-button" (click)="exportExcel(modalDetails['header'])"></button>
  </p-header>

  <div class="dialog-body p-mb-4">
    <p-table *ngIf="modalDetails['tableValues'].length > 0 ; else showNoDataMessage"
      [value]="modalDetails['tableValues']" styleClass="p-datatable-gridlines" loadingIcon="loading-img"
      [autoLayout]="true">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of modalDetails['tableHeadings']">{{col}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td class="font-small" *ngFor="let column of modalDetails['tableHeadings']">
            <ng-container *ngIf="!checkIfArray(rowData[column]); else displayArrayData">
              <a *ngIf="rowData[column]?.hasOwnProperty('hyperlink') ; else displayCellData"
                [href]="rowData[column]['hyperlink']" class="text-blue" target="_blank">{{rowData[column]['text']}}</a>
              <ng-template #displayCellData>
                <ng-container *ngIf="column.toLowerCase() === 'sprint rating'; else showOtherData">
                  <img [src]="sprintRatingObj[rowData[column]]" alt="rating"/>
                </ng-container>
                <ng-template #showOtherData> 
                  {{rowData[column]?.length > 60 ? (rowData[column].slice(0,60)+'...') :
                  rowData[column]}}
                </ng-template>
              </ng-template>
            </ng-container>

            <ng-template #displayArrayData>
              <ng-container *ngFor="let data of rowData[column]">
                <a *ngIf="data?.hasOwnProperty('hyperlink') ; else displayData" [href]="data['hyperlink']"
                  class="text-blue column-content-spacing" target="_blank">{{data['text']}}</a>
                <ng-template #displayData>
                  <p class="column-content-spacing">{{data}}</p>
                </ng-template>
                <br>
              </ng-container>
            </ng-template>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template #showNoDataMessage>
      <hr>
      <h2 class="p-text-center">No Data Available</h2>
    </ng-template>
  </div>

</p-dialog>