<div class="kpi-card-container">
    <div class="kpi-card-header">
        <div class="kpi-card-name-placeholder" (mouseleave)="showTooltip(false)">
            <div class="kpi-card-title-container">
                <h3 *ngIf="kpiData">{{kpiData?.kpiName}}
                    <span *ngIf="kpiData?.kpiDetail?.kpiInfo" class="fa fa-info-circle kpi-info-icon" aria-hidden="true"
                        (mouseover)="showTooltip(true)">
                        <app-tooltip *ngIf="isTooltip" [data]="kpiData?.kpiDetail?.kpiInfo"
                            (mouseleave)="showTooltip(false)"></app-tooltip>
                    </span>
                </h3>
            </div>
        </div>
        <!-- kpiFilter -->
        <div *ngIf="isShow">
            <div [ngSwitch]="kpiData?.kpiDetail?.kpiFilter?.toLowerCase()" class="kpi-filter">
                <ng-container *ngSwitchCase="'dropdown'">
                    <ng-select [(ngModel)]="filterOption" [dropdownPosition]="'bottom'"
                        (change)="handleChange('single')" *ngIf="dropdownArr?.length && dropdownArr[0]?.options?.length"
                        [placeholder]="dropdownArr[0]?.filterType" [clearable]="false" class="p-pb-0 kpi-dropdown">
                        <ng-option *ngFor="let item of dropdownArr[0]?.options" [value]="item">
                            <span [attr.title]="item">{{item}}</span>
                        </ng-option>
                    </ng-select>
                </ng-container>
                <div *ngSwitchCase="'multiselectdropdown'" class="p-d-flex p-justify-between">
                    <ng-container *ngFor="let filter of dropdownArr;let k = index">
                        <ng-select *ngIf="filter?.options?.length" [(ngModel)]="filterOptions['filter'+(k+1)]" [dropdownPosition]="'bottom'"
                            (change)="handleChange('multi')" [placeholder]="filter?.filterType"
                            (clear)="handleClearAll('filter'+(k+1))" class="p-pb-0 kpi-dropdown"
                            [ngClass]="{'p-mr-3': k != (dropdownArr?.length-1)}"
                            [multiple]="kpiData?.kpiDetail?.kpiFilter?.toLowerCase() === 'multiselectdropdown'"
                            [closeOnSelect]="false">
                            <ng-container *ngFor="let item of filter?.options; index as i">
                                <ng-option [value]="item">
                                    {{item}}
                                </ng-option>
                            </ng-container>
                            <ng-template ng-multi-label-tmp let-items="filter?.options" let-clear="clear"
                                *ngIf="kpiData?.kpiDetail?.kpiFilter?.toLowerCase() === 'multiselectdropdown'">
                                <div class="ng-value border-0"
                                    *ngIf="filterOptions['filter'+(k+1)]?.length > 0 && !filterOptions['filter'+(k+1)].includes('Overall')">
                                    <span class="ng-value-label pointer"
                                        (mouseover)="showFilterTooltip(true, 'filter'+(k+1))"
                                        (mouseleave)="showFilterTooltip(false)">Filters:
                                        {{filterOptions['filter'+(k+1)]?.length}} Selected</span>
                                    <app-tooltip *ngIf="filterMultiSelectOptionsData?.hasOwnProperty('details') 
                                    && filterMultiSelectOptionsData['details']['filter'+(k+1)]?.length"
                                        [data]="filterMultiSelectOptionsData" [filterNo]="'filter'+(k+1)"
                                        (mouseleave)="showFilterTooltip(false)">
                                    </app-tooltip>
                                </div>
                            </ng-template>
                        </ng-select>
                    </ng-container>
                </div>
                <ng-container *ngSwitchCase="'radiobutton'">
                    <ng-container *ngIf="dropdownArr?.length>0">
                        <span *ngFor="let option of dropdownArr[0]?.options; let i = index" class="filter-radioButton">
                            <p-radioButton [inputId]="option" name="option" [value]="option" [(ngModel)]="radioOption"
                                (onClick)="handleChange('radio', option)">
                            </p-radioButton>
                            <label [for]="option">{{ option }}</label>
                        </span>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="kpi-card-body" 
    [ngStyle]="{'height': showChartView ? '365px' : '110px', 
    'min-height': showChartView ? '330px' : '100px'}">
        <div class="kpi-card-indicator p-jc-evenly" *ngIf="isShow && trendData?.length  > 0  && showTrendIndicator"
            >
            <ng-container *ngFor="let item of trendData; let i = index;">
                <!--Grouped Column Plus Chart has line value(lineValue) and bar value(value). We need to send lineValue to the latest value indicator.-->
                <ng-container *ngIf="kpiData?.kpiDetail?.chartType !== 'grouped_column_plus_line'">
                    <app-trend-indicator *ngIf="!kpiData?.kpiDetail?.trendCalculative"
                        [dataTrend]="item?.value?.length > 1 ? [item?.value[item?.value?.length - 2]?.value, item?.value[item?.value?.length - 1]?.value]  : [item?.value[item?.value?.length - 1]?.value]"
                        [maturity]="checkMaturity(item)" [color]="getColor(item?.data)" [kpiData]="kpiData"
                        [noOfBox]="trendData?.length">
                    </app-trend-indicator>
                    <app-trend-indicator *ngIf="kpiData?.kpiDetail?.trendCalculative"
                        [dataTrend]="[item?.value[item?.value?.length-1][lhs], item?.value[item?.value?.length - 1][rhs]]"
                        [maturity]="checkMaturity(item)" [color]="getColor(item?.data)" [kpiData]="kpiData"
                        [noOfBox]="trendData?.length">
                    </app-trend-indicator>
                </ng-container>
                <ng-container *ngIf="kpiData?.kpiDetail?.chartType === 'grouped_column_plus_line'">
                    <app-trend-indicator *ngIf="!kpiData?.kpiDetail?.trendCalculative"
                        [dataTrend]="item?.value?.length > 1 ? [item?.value[item?.value?.length - 2]?.lineValue, item?.value[item?.value?.length - 1]?.lineValue]  : [item?.value[item?.value?.length - 1]?.lineValue]"
                        [maturity]="checkMaturity(item)" [color]="getColor(item?.data)" [kpiData]="kpiData"
                        [noOfBox]="trendData?.length">
                    </app-trend-indicator>
                    <app-trend-indicator *ngIf="kpiData?.kpiDetail?.trendCalculative"
                        [dataTrend]="[item?.value[item?.value?.length-1][lhs], item?.value[item?.value?.length - 1][rhs]]"
                        [maturity]="checkMaturity(item)" [color]="getColor(item?.data)" [kpiData]="kpiData"
                        [noOfBox]="trendData?.length">
                    </app-trend-indicator>
                </ng-container>
            </ng-container>
        </div>
        <div class="kpi-card-indicator p-jc-evenly" *ngIf="!showChartView && (kpiData?.kpiId == 'kpi3' || kpiData?.kpiId == 'kpi53')">
            <ng-container *ngFor="let item of trendData?.data; let i = index;">
                <app-trend-indicator
                    [dataTrend]="item" [cols]="trendData?.columnHeaders"
                    [maturity]="item?.maturity" [color]="getColor(item?.name)" [kpiData]="kpiData"
                    [noOfBox]="trendData?.length">
                </app-trend-indicator>
            </ng-container>
        </div>
        <!--place for chart to be rendered-->
        <ng-content></ng-content>
    </div>
    <div class="kpi-card-footer d-flex justify-content-between">
        <div class="p-d-flex p-align-center">
            <!-- <object class="kpi-card-type-icon" data="../../../assets/img/Jira.svg"></object> -->
        </div>
        <div class="kpi-card-icons" *ngIf="showExport">
            <img src="../../../assets/img/download.svg" alt="Download" class="ico-active p-mr-1 kpi-download-icon" (click)="exportToExcel()"/>
            <!-- <i class="fas fa-expand mr-10"></i> -->
        </div>
    </div>
</div>