.kpi-card-container {
    background: #fff;
    
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    position: relative;
}
.kpi-card-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c0c0c0;
    padding: 8px 10px;
    letter-spacing: 0px;
    color: #333333;
    align-items: center;
}

.kpi-card-icons {
    display: flex;
}

.kpi-card-icons i, .kpi-card-icons fa-icon {
    border: 1px solid #707070;
    color: #707070;
    border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;
}

.kpi-card-name-placeholder {
    display: flex;
    align-items: center;
}

.kpi-card-name-placeholder h3 {
    font-size: 1.10rem;
    font-weight: 500;
}

.kpi-card-title-container h3 {
    margin-bottom: auto;
    line-height: 32px;
    margin-top: 0;
} 

.kpi-card-indicator {
    display: flex;
    padding: 10px;
}

.kpi-card-footer {
    padding: 5px;
    color: #333333;
    position: absolute;
    bottom: 2px;
    width: auto;
    right: 0;
}

.kpi-card-type-icon {
    width: 50px;
    height: 20px;
    transition: .5s;
}

.kpi-card-type-icon:hover {
    transform: scale(1.5);
}
.kpi-info-icon{
    color: #707070;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 5px;
}

.kpi-download-icon{
    height: 24px;
    cursor: pointer;
}

::ng-deep .filter-radioButton {
    margin-right: 5px;
    font-size: 12px;
}

::ng-deep .filter-radioButton label {
    margin: 0 5px;
}

::ng-deep .pointer {
    cursor: pointer;
}

::ng-deep .ng-select-container.ng-has-value {
    overflow: visible;
}

::ng-deep .kpi-filter .ng-placeholder {
    top: 5px;
}

:host::ng-deep .p-dialog{
    width: auto !important;
    max-width: 90vw !important;
    min-width: 544px;
}

:host ::ng-deep.p-dialog-header-icons{
    top: -8px;
    right: -8px;
    border-radius: 2px;
    background-color: black;
    border: none;
}

:host ::ng-deep .p-dialog-header-close-icon {
    color: white;
}

:host ::ng-deep .p-overlaypanel {
    background: black;
    color: #ffffff;
    width: 20px;
    height: 20px;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    /* border-radius: 50%; */
    position: absolute;
    top: -0.7rem;
    right: -0.7rem;
}

:host ::ng-deep.p-overlaypanel .p-overlaypanel-close{
        /* background: #3F51B5; */
    /* color: #ffffff; */
    width: 1rem;
    height: 1rem;
    /* transition: background-color 0.2s, color 0.2s, box-shadow 0.2s; */
    /* border-radius: 50%; */
    position: absolute;
    /* top: -1.25rem; */
    /* right: -1.25rem; */
    top: -0.5rem;
    right: -0.5rem;
    border-radius: 2px;
    /* background-color: black; */
    border: none;
}

:host ::ng-deep .p-dialog-header-close-icon {
    color: white;
}

.comment{
    resize: none;
    width: 100%;
    height: 10rem;
    margin-top: 5px;
}

.comment-box{
    border: 1px solid;
    border-radius: 0px;
    padding: 0px 10px 0px 10px;
}

.comment-combo{
    margin: 20px 0px 20px 0px;
}

.p-button{
    margin-left: 5px;
}