.landing-card{
    height: 332px;
    overflow: auto;
    line-height: 1.6;
}
.font-big{
    font-size: 20px;
}
.font-bigger{
    font-size: 24px;
}
.custom-br-top{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.custom-br-bottom{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.bg-white{
    background-color: #fff;
}