.float-label {
    display: flex;
    flex-direction: column;
}

.float-label input {
    width: 100%;
    height: 40px;
    padding: 10px 16px 0 10px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    font-size: 16px;
}

.float-label label {
    font-size: 12px;
    padding: 0 8px;
    margin-left: 8px;
    color: #999;
    pointer-events: none;
    position: absolute;
    background-color: #fff;
    transform: translate(0, 10px) scale(1);
    transition: all .3s ease-out;
}

.float-label:focus-within label {
    transform: translate(-8px, -12px) scale(0.75);
}

.float-label .Active {
    transform: translate(-8px, -12px) scale(0.75);
}

div.Invalid input {
    border: 1px solid red;
}

.errMsg {
    display: inline;
    color: red;
}

.successMsg {
    display: inline;
    color: green;
}

@media only screen and (min-width: 1320px) {
    .float-label input {
        height: 48px;
        padding: 14px 16px 0 14px;
    }

    .float-label label {
        font-size: 18px;
        padding: 0 12px;
        margin-left: 12px;
    }
}