<div class="chart-container">
    <div class="p-pl-3 p-pr-3" [ngSwitch]="kpi?.kpiDetail?.chartType">
    <ng-container
      *ngIf="(kpiChartData[kpi?.kpiId]?.length > 0 && chartColorList[kpi?.kpiId]?.length>0 && !iSAdditionalFilterSelected) || (kpiChartData[kpi?.kpiId]?.length > 0 && chartColorList[kpi?.kpiId]?.length>0 && kpi?.kpiDetail?.additionalFilterSupport && iSAdditionalFilterSelected); else noData">
      <ng-container *ngIf="!(showChart === 'table')">
        <app-groupstackchart *ngSwitchCase="'stackedColumn'" [legendType]="'tooltip'"
          [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
          [unit]="kpi?.kpiDetail?.kpiUnit" [thresholdValue]="thresholdValue"
          [data]="kpiChartData[kpi?.kpiId]" [color]="chartColorList[kpi?.kpiId]"
          [selectedtype]="selectedtype"></app-groupstackchart>
        <app-table *ngSwitchCase="'table'" [trendBoxColorObj]="trendBoxColorObj" [data]="kpiChartData[kpi?.kpiId].data"
          [cols]="kpiChartData[kpi?.kpiId]?.columnHeaders" [showMarker]="'true'"
          [showMarkerColumnNumber]="0"></app-table>
        <app-multiline *ngSwitchCase="'line'" [thresholdValue]="thresholdValue"
          [unit]="kpi?.kpiDetail?.kpiUnit" [data]="kpiChartData[kpi?.kpiId]"
          [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
          [name]="kpi?.kpiName" [kpiId]="kpi?.kpiId" [color]="chartColorList[kpi?.kpiId]"
          [selectedtype]="selectedtype" [viewType]="showChart" [board]="'executive'" 
          [lowerThresholdBG]="kpi?.kpiDetail?.lowerThresholdBG" [upperThresholdBG]="kpi?.kpiDetail?.upperThresholdBG">
        </app-multiline>
        <app-multiline-style *ngSwitchCase="'multipleline'" [thresholdValue]="thresholdValue"
          [unit]="kpi?.kpiDetail?.kpiUnit" [data]="kpiChartData[kpi?.kpiId]"
          [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
          [name]="kpi?.kpiName" [kpiId]="kpi?.kpiId" [color]="chartColorList[kpi?.kpiId]"
          [selectedtype]="selectedtype" [viewType]="showChart">
        </app-multiline-style>
        <app-grouped-column-plus-line-chart *ngSwitchCase="'grouped_column_plus_line'"
          [data]="kpiChartData[kpi?.kpiId]" [lineChart]="true" [unit]="kpi?.kpiDetail?.kpiUnit"
          [thresholdValue]="thresholdValue" [xCaption]="kpi?.kpiDetail?.xaxisLabel"
          [yCaption]="kpi?.kpiDetail?.yaxisLabel" [color]="chartColorList[kpi?.kpiId]"
          [barLegend]="kpi?.kpiDetail?.barLegend" [lineLegend]="kpi?.kpiDetail?.lineLegend"
          [selectedtype]="selectedtype" [viewType]="showChart"  [lowerThresholdBG]="kpi?.kpiDetail?.lowerThresholdBG" [upperThresholdBG]="kpi?.kpiDetail?.upperThresholdBG">
        </app-grouped-column-plus-line-chart>
        <app-bar-with-y-axis-group *ngSwitchCase="'bar-with-y-axis-group'"
          [data]="kpiChartData[kpi?.kpiId]" [lineChart]="true" [unit]="kpi?.kpiDetail?.kpiUnit"
          [thresholdValue]="kpi?.kpiDetail?.thresholdValue" [xCaption]="kpi?.kpiDetail?.xaxisLabel"
          [yCaption]="kpi?.kpiDetail?.yaxisLabel" [color]="chartColorList[kpi?.kpiId]"
          [barLegend]="kpi?.kpiDetail?.barLegend" [lineLegend]="kpi?.kpiDetail?.lineLegend"
          [selectedtype]="selectedtype" [viewType]="showChart"  [lowerThresholdBG]="kpi?.kpiDetail?.lowerThresholdBG" [upperThresholdBG]="kpi?.kpiDetail?.upperThresholdBG"
          [yAxisOrder]="kpi?.kpiDetail?.yaxisOrder">
        </app-bar-with-y-axis-group>
      </ng-container>
    </ng-container>
    <ng-template #noData>
        <div class="min-ht"
          *ngIf="(kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length === 0 && !iSAdditionalFilterSelected && kpiLoader === false) || (kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length === 0 && kpi?.kpiDetail?.additionalFilterSupport && iSAdditionalFilterSelected && kpiLoader === false)">
          <div class="err">No Data Available</div>
        </div>
        <div class="min-ht"
          *ngIf="kpi?.kpiDetail?.additionalFilterSupport === false && iSAdditionalFilterSelected && kpiLoader === false">
          <div class="err squad-err-msg">KPI cannot be measured for a Squad</div>
        </div>
      </ng-template>
  </div>
</div>>
