<ng-container *ngIf="selectedTab === 'iteration'; else cardWithOutRawJsonTemplate">
  <div class="kpi-card-container-v2">
    <app-ps-kpi-card-header [cardHeaderData]="kpiHeaderData"></app-ps-kpi-card-header>

    <div class="kpi-card-body">
      <div *ngIf="checkFilterPresence(kpiFilterData)">
        <app-ps-kpi-card-filter [kpiCardFilter]="kpiFilterData" *ngIf="cardData?.chartType !== 'chartWithFilter' && cardData?.chartType !== 'CumulativeMultilineChart'"
          (filterChange)="onFilterChange($event)"></app-ps-kpi-card-filter>
      </div>
      <div *ngIf="cardData?.chartType === 'stacked-bar-chart' ||  cardData?.chartType ===  'stacked-bar'"
        class="p-pr-5 p-pl-5 p-col-6">
        <div class="w-100">{{ cardData.dataGroup.summary.name }}</div>
        <h3 class="p-my-0">{{showCummalative()}}</h3>
      </div>
      <div class="p-d-flex">
        <div class="{{ cardData?.chartType === 'bar-chart' ? 'p-col-8' : 'p-col-12' }}">
          <app-ps-kpi-card-chart-renderer [chartData]="currentChartData.chartData" [chartType]="cardData.chartType"
            [chartWidth]="cardData.chartWidth" [chartHeight]="cardData.chartHeight"></app-ps-kpi-card-chart-renderer>
        </div>
        <div class="p-pr-5 p-pl-5 p-text-center" *ngIf="cardData?.chartType ===  'bar-chart'">
          <div class="p-col-12" *ngFor="let dataGroup of cardData.dataGroup.dataGroup2">
            <p>{{dataGroup.name}}</p>
            <h3>{{convertToHoursIfTime(calculateValue(copyCardData.issueData,dataGroup.key),cardData.unit)}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="cardData?.chartType === 'stacked-bar-chart' ||  cardData?.chartType ===  'stacked-bar'"
      class="kpi-card-footer p-pr-5 p-pl-5">
      <ul class="legend" *ngFor="let footer of currentChartData?.chartData">
        <li class="p-px-3 p-py-0">
          <span [ngStyle]="{ 'background-color': footer.color }"></span>{{ footer.category }}
        </li>
      </ul>
    </div>
  </div>
</ng-container>


<ng-template #cardWithOutRawJsonTemplate>
  <div class="kpi-card-container">
    <div class="kpi-card-header p-pr-5 p-pl-5 p-jc-between">
      <div class="kpi-card-name-placeholder" (mouseleave)="showTooltip(false)" #kpiHeader>
        <div class="kpi-card-title-container">
          <h3 *ngIf="kpiData">{{kpiData?.kpiName}}</h3>
          <span *ngIf="kpiData?.kpiDetail?.kpiInfo" aria-hidden="true" class="info-icon" (mouseover)="showTooltip(true)"
            (mouseleave)="showTooltip(false)" [style]="{'position': 'relative'}">
            <img alt="info" class="" src="../../../assets/img/Info.svg" />
            <app-tooltip-v2 *ngIf="isTooltip" class="p-mt-3" [data]="kpiData?.kpiDetail?.kpiInfo"
              (mouseleave)="showTooltip(false)" [showChartView]="showChartView"
              [kpiName]="kpiData?.kpiName"></app-tooltip-v2>
          </span>
        </div>
        <span class="warning-icon" *ngIf="kpiDataStatusCode === '201' || kpiDataStatusCode === '203'"
          (mouseover)="showWarning(true)" (mouseleave)="showWarning(false)" [style]="{'position': 'relative'}">
          <img height="25px" style="display: block; margin-top: -3px; margin-left: 2px;" alt="warning"
            src="../../../assets/img/Warning.svg" />
          <app-tooltip-v2 *ngIf="warning" class="p-mt-3 p-ml-1" [data]="warning" (mouseleave)="showWarning(false)"
            [showChartView]="showChartView" [kpiName]="kpiData?.kpiName" [allText]="true"></app-tooltip-v2>
        </span>
      </div>
      <div class="kpi-menu-container" (click)="toggleMenu($event)">
        <i class="pi pi-ellipsis-v" style="font-size: 20px"></i>
      </div>
      <p-menu #kpimenu id="menu-{{kpiData?.kpiId}}" [popup]="true" [model]="menuItems">
        <ng-template pTemplate="item" let-item>
          <div>
            <i [class]="item.icon"></i>
            <span> {{ item.label }}</span>
          </div>
        </ng-template>
      </p-menu>
    </div>

    <div [ngSwitch]="kpiData?.kpiDetail?.kpiFilter?.toLowerCase()"
      *ngIf="kpiData?.kpiDetail?.chartType !== 'stacked-area'"
      [ngClass]="{ 'hidden': selectedTab.toLowerCase() === 'developer' || (loader || immediateLoader || (!kpiData?.kpiDetail?.isAdditionalFilterSupport && iSAdditionalFilterSelected)) }"
      class="kpi-filter p-pr-5 p-pl-5" #kpiFilterContainer>
      <div *ngSwitchCase="'dropdown'" class="p-d-flex p-jc-end">
        <ng-container *ngFor="let filter of dropdownArr;let k = index">
          <p-dropdown *ngIf="dropdownArr?.length && filter?.options?.length" [options]="filter?.options"
            [(ngModel)]="filterOptions['filter'+(k+1)]" [autoDisplayFirst]="true"
            [style]="{'margin-left': '5px', 'height': '32px'}" (onChange)="handleChange('single',k)"
            [virtualScroll]="true" [virtualScrollItemSize]="30"
            [panelStyle]="{ 'min-width': 'min(100vw, 300px)', 'overflow-x': 'hidden' }"></p-dropdown>
        </ng-container>
      </div>
      <div *ngSwitchCase="'multiselectdropdown'" class="p-d-flex p-jc-end">
        <ng-container *ngFor="let filter of dropdownArr;let k = index">
          <ng-select *ngIf="filter?.options?.length && filter.filterType === 'Duration'"
            [(ngModel)]="filterOptions['filter'+(k+1)]" [dropdownPosition]="'bottom'" [filter]="false"
            [showHeader]="false" (change)="handleChange('multi')" [placeholder]="filter?.filterType" [clearable]="false"
            class="p-pb-0 kpi-dropdown" [ngClass]="{'p-mr-3': k != (dropdownArr?.length-1)}">
            <ng-container *ngFor="let item of filter?.options; index as i">
              <ng-option [value]="item">
                {{item}}
              </ng-option>
            </ng-container>
          </ng-select>

          <p-multiSelect *ngIf="filter?.options?.length && filter.filterType !== 'Duration'" #multiSelect
            inputId="multiselectFilter" [options]="filter?.options" [(ngModel)]="filterOptions['filter'+(k+1)]"
            [maxSelectedLabels]="3" selectedItemsLabel="{0} items selected"
            (onChange)="handleChange('multi', $event, k)" (onClear)="handleClearAll('filter'+(k+1))" [filter]="false"
            [showHeader]="false" [showClear]="true" [style]="{'height': '32px', 'margin-left': '5px'}"
            defaultLabel="{{filter?.filterType}}" [panelStyle]="{ 'min-width': 'min(100vw, 300px)' }">
          </p-multiSelect>
        </ng-container>
      </div>
      <ng-container *ngSwitchCase="'radiobutton'">
        <ng-container *ngIf="dropdownArr && dropdownArr.length && dropdownArr[0]?.options?.length">
          <p-selectButton [options]="dropdownArr[0]?.options" [(ngModel)]="radioOption"
            (onChange)="handleChange('radio', $event)"></p-selectButton>
        </ng-container>
      </ng-container>
    </div>
    <div class="kpi-card-body p-pr-5 p-pl-5" [ngStyle]="{'height': kpiSize === 12 ? '250px' : kpiData?.kpiDetail?.chartType === 'stacked-area' ? '270px' : '220px',
    'min-height': !(showChartView === 'table')  ? '220px' : '100px'}" [ngClass]="{'smallChart':board == 'dora'}">
      <!--place for chart to be rendered-->
      <ng-content
        *ngIf="!loader && !immediateLoader && (checkIfDataPresent(kpiDataStatusCode) || partialData) && (!iSAdditionalFilterSelected || (kpiData?.kpiDetail?.isAdditionalFilterSupport && iSAdditionalFilterSelected)); else noData"></ng-content>
      <ng-template #noData>
        <div class="min-ht"
          *ngIf="!loader && !immediateLoader && (!checkIfDataPresent(kpiDataStatusCode)) && kpiData?.kpiDetail?.isAdditionalFilterSupport">
          <div class="p-w-100  p-d-flex p-justify-center">
            <img alt="no-data" src="../../../assets/img/NoDataFound.svg" />
          </div>
          <div class="p-w-100" [ngSwitch]="kpiDataStatusCode">
            <h4 *ngSwitchCase="'400'" class="p-text-center">KPI Analysis failed. Contact your administrator.</h4>
            <h4 *ngSwitchCase="'202'" class="p-text-center">Please check the required tool configuration and run
              processor.</h4>
            <h4 *ngSwitchCase="'201'" class="p-text-center">Mandatory Field Mapping not configured. Contact your
              administrator.</h4>
            <h4 *ngSwitchCase="'200'" class="p-text-center">No Data Available.</h4>
            <div *ngSwitchCase="'500'" class="p-text-center">
              <span>
                <h4 class="p-text-center p-m-0">An error has occurred. Please retry or contact administrator.</h4>
                <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded  p-mt-3"
                  (click)="reloadKPI()"></button>
              </span>
            </div>
          </div>
        </div>
        <div class="min-ht"
          *ngIf="!loader && !immediateLoader && (!checkIfDataPresent(kpiDataStatusCode)) && !kpiData?.kpiDetail?.isAdditionalFilterSupport && !iSAdditionalFilterSelected">
          <div class="p-w-100  p-d-flex p-justify-center">
            <img alt="no-data" src="../../../assets/img/NoDataFound.svg" />
          </div>
          <div class="p-w-100" [ngSwitch]="kpiDataStatusCode">
            <h4 *ngSwitchCase="'400'" class="p-text-center">KPI Analysis failed. Contact your administrator.</h4>
            <h4 *ngSwitchCase="'202'" class="p-text-center">Please check the required tool configuration and run
              processor.</h4>
            <h4 *ngSwitchCase="'201'" class="p-text-center">Mandatory Field Mapping not configured. Contact your
              administrator.</h4>
            <h4 *ngSwitchCase="'200'" class="p-text-center">No Data Available.</h4>
            <div *ngSwitchCase="'500'" class="p-text-center">
              <span>
                <h4 class="p-text-center p-m-0">An error has occurred. Please retry or contact administrator.</h4>
                <button pButton pRipple type="button" icon="pi pi-refresh" class="p-button-rounded p-mt-3"
                  (click)="reloadKPI()"></button>
              </span>

            </div>
          </div>
        </div>
        <div class="min-ht" *ngIf="!kpiData?.kpiDetail?.isAdditionalFilterSupport && iSAdditionalFilterSelected">
          <div class="err squad-err-msg">KPI cannot be measured for a Squad</div>
        </div>
      </ng-template>
      <div class="overlay loader" *ngIf="loader || immediateLoader">
        <div class="loading-img"></div>
      </div>
    </div>
    <div class="kpi-card-footer p-pr-5 p-pl-5"
      [ngClass]="{'hidden' : (loader || immediateLoader || (!checkIfDataPresent(kpiDataStatusCode) && !partialData) || (iSAdditionalFilterSelected || (!kpiData?.kpiDetail?.isAdditionalFilterSupport && iSAdditionalFilterSelected)))}">
      <app-trend-indicator-v2 *ngIf="checkIfDataPresent(kpiDataStatusCode)" [trendData]="trendData"
        [colorObj]="trendBoxColorObj">
      </app-trend-indicator-v2>
    </div>
  </div>
</ng-template>

<p-dialog [(visible)]="displaySprintDetailsModal" [dismissableMask]="true" [modal]="true" [autoZIndex]="true"
  styleClass="sprint-details-overlay">
  <div class="p-mb-3 overlay-heading">
    {{kpiData?.kpiName}}
  </div>
  <div class="dialog-body p-mb-4">
    <p-tabView [(activeIndex)]="selectedTabIndex">

      <ng-container *ngFor="let project of projectList;  let i = index;">
        <p-tabPanel header="{{project.length > 15 ? project.substring(0,15)+'..' : project}}"
          [headerStyleClass]="getColorCssClasses(selectedTabIndex)">
          <p-table
            *ngIf="(sprintDetailsList[selectedTabIndex] && sprintDetailsList[selectedTabIndex]['hoverList'].length >0 ) ; else showNoDataMessage"
            [columns]="columnList" [value]="sprintDetailsList[selectedTabIndex]['hoverList']"
            styleClass="p-datatable-gridlines kpi-table" [scrollable]="true" scrollHeight="250px">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <ng-container *ngFor="let col of columns">
                  <th *ngIf="hasData(col.field)" [pSortableColumn]="col.field"
                    [ngClass]="{'kpi-value-center': col.field ==='value'}">
                    {{ col.header }}
                    <p-sortIcon *ngIf="col.field === 'value'" [field]="col.field"></p-sortIcon>
                  </th>
                </ng-container>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <ng-container *ngFor="let col of columns">
                  <td *ngIf="hasData(col.field)"
                    [innerHTML]="col.field == 'value' || col.field.includes('value') ? rowData[col.field]+rowData['unit'] : rowData[col.field]"
                    class="p-overflowlabel" [ngClass]="{'kpi-value-center': col.field ==='value'}">
                  </td>
                </ng-container>
              </tr>
            </ng-template>
          </p-table>


        </p-tabPanel>
      </ng-container>
      <ng-template #showNoDataMessage>
        <img alt="no-data" src="../../../assets/img/setting-icon.svg" />
        <div class="p-w-100" [ngSwitch]="kpiDataStatusCode">
          <h4 *ngSwitchCase="'400'" class="p-text-center">KPI Analysis failed. Contact your administrator.</h4>
          <h4 *ngSwitchCase="'202'" class="p-text-center">Required Tool not configured. Contact your administrator.</h4>
          <h4 *ngSwitchCase="'201'" class="p-text-center">Mandatory Field Mapping not configured. Contact your
            administrator.</h4>
          <h4 *ngSwitchCase="'200'" class="p-text-center">No Data Available.</h4>
        </div>
      </ng-template>
    </p-tabView>


  </div>
</p-dialog>

<p-dialog [(visible)]="displayConfigModel" [modal]="true" styleClass="field-mapping">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <p class="font-bold white-space-nowrap">{{kpiData?.kpiName}}</p>
      <span class="font-bold white-space-nowrap"
        [ngClass]="{'green': isSyncPassedOrFailed === true, 'red' : ((isSyncPassedOrFailed === false)&& (lastSyncTime !== 'NA'))}">Last
        Sync: {{lastSyncTime}}
        <span *ngIf="lastSyncTime !== 'NA'">
          <img *ngIf="isSyncPassedOrFailed === true" src="../../../assets/img/icon-success.svg" alt="Success"
            class="p-mr-1" />
          <img *ngIf="isSyncPassedOrFailed === false" src="../../../assets/img/icon-failure.svg" alt="Failure"
            class="p-mr-1" />
        </span>
      </span>

    </div>
  </ng-template>
  <hr>
  <div class="p-d-flex p-mt-4 p-mb-4">
    <b class="p-mr-5"><span>*</span>Mandatory Fields</b>
    <b><i class="fas fa-sync-alt p-mr-1"></i>Requires processor run</b>
  </div>
  <ng-template pTemplate="content">
    <app-field-mapping-form #fieldMappingForm
      *ngIf="fieldMappingConfig?.length > 0 && this.selectedToolConfig?.length > 0 && !loadingKPIConfig"
      [disableSave]="disableSave" [fieldMappingMetaData]="fieldMappingMetaData"
      [fieldMappingConfig]="fieldMappingConfig" [formData]="selectedFieldMapping" [selectedConfig]="selectedConfig"
      [selectedToolConfig]="selectedToolConfig" (reloadKPI)="reloadKPI()"
      [thresholdUnit]="kpiData['kpiDetail']['kpiUnit']" [kpiId]="kpiData?.kpiId"
      [metaDataTemplateCode]="metaDataTemplateCode" [nodeId]="nodeId" [parentComp]="'kpicard'"></app-field-mapping-form>
  </ng-template>
  <ng-template pTemplate="footer"></ng-template>
  <ng-container *ngIf=" noDataKPIConfig && !loadingKPIConfig">
    <h2 class="p-text-center">No Configuration Available</h2>
  </ng-container>
  <ng-container *ngIf="loadingKPIConfig">
    <div class="overlay">
      <div class="loading-img"></div>
    </div>
  </ng-container>
</p-dialog>