<div class="p-grid" *ngIf="kpiId !== 'kpi124'">
    <div *ngFor="let item of data;" class="p-d-flex data-item p-col-6">
        <div class="icon-container">
            <div class="icon">
                <img src="../../../assets/img/{{ item.icon }}" alt="KPI Icon" class="kpi-logo" />
            </div>
        </div>
        <div class="data">
            <p class="tabularKPI-column-header p-mb-0">{{ item.category }}</p>
            <p class="tabularKPI-column-value p-mt-0">{{ item.value }}</p>
        </div>
    </div>
</div>
<div class="p-grid- p-mt-3" *ngIf="kpiId === 'kpi124'">
    <div *ngFor="let item of data;" class="p-d-flex data-item p-col-12">
        <div class="data p-col-4 p-text-right">
            <p class="tabularKPI-column-header p-my-0">{{ item.category }}</p>
        </div>
        <div class="p-col-8 donut-container">
            <app-semi-circle-donut-chart [value]="item.value" [kpiId]="kpiId" [totalIssues]="item.totalIssues"  [color]="item.color"></app-semi-circle-donut-chart>
        </div>
    </div>
</div>