<div class="p-grid">
    <div *ngFor="let item of data;" class="p-d-flex data-item p-col-6">
        <div class="icon-container">
            <div class="icon">
                <img src="../../../assets/img/{{ item.icon }}" alt="KPI Icon" class="kpi-logo"/>
            </div>
        </div>
        <div class="data">
            <p class="tabularKPI-column-header p-mb-0">{{ item.category }}</p>
            <p class="tabularKPI-column-value p-mt-0">{{ item.value }}</p>
        </div>
    </div>
</div>