.text-data {
    font-size: 1.875rem;
    color: var(--color-secondary-blue);
    margin: 0;
}

.text-label {
    color: var(--color-cyan-blue);
    font-size: 1.25rem;
    margin: 0;
}

.text-time {
    color: var(--color-red);
}
.text-data .unit{
    font-size: 1.5rem;
}
.btn-arrow-down{
    color: var(--color-black);
    width: .8rem;
    cursor: pointer;
}
.card-type-1{
    flex: 0 0 12%;
    max-width: 12%;
    position: relative;
    width: 100%; 
}
.card-type-2{
    flex: 0 0 31%;
    max-width: 31%;
    position: relative;
    width: 100%; 
}
.card-type-3{
    flex: 0 0 38%;
    max-width: 38%;
    position: relative;
    width: 100%; 
}
.card-type-4{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%; 
}

.text-blue{
    color: var(--color-secondary-blue);
    text-decoration: underline;
}