@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("./fonts/PoppinsRegular.ttf");
  font-family: "PoppinsNormal";
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("./fonts/PoppinsMedium.ttf");
  font-family: "PoppinsMedium";
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("./fonts/PoppinsBold.ttf");
  font-family: "PoppinsBold";
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("./fonts/PoppinsSemiBold.ttf");
  font-family: "PoppinsSemiBold";
  font-weight: 600;
}