<div [ngClass]="(!router.url.split('/').includes('Config') && router.url !== '/dashboard/Error' && router.url !== '/dashboard/Help') ? 'header' : 'header-config' " class="p-p-2">
   <div class="logo cursor-pointer">
      <img *ngIf="logoImage" src={{logoImage}}
         (click)="navigateToHomePage()" alt="Logo" />
      <img *ngIf="!logoImage" src="assets/img/sapientLogo.PNG"
         (click)="navigateToHomePage()" alt="Logo" />
   </div>
   <div class="f"
   *ngIf="!router.url.split('/').includes('Config') && router.url !== '/dashboard/Error' && router.url !== '/dashboard/Help'">
      <div id="Filters" #filterDiv class="tabs p-p-2 p-d-flex p-align-end p-jc-between flex-wrap p-align-center">
         <div class="filter-nav p-justify-between">
            <form [formGroup]="filterForm">
               <div class="p-d-flex p-justify-between p-align-center">
                  <div class="p-d-flex p-align-end">
                     <!-- Aggregation level -->
                     <div *ngIf="selectedTab?.toLowerCase() !== 'backlog' && selectedTab?.toLowerCase() !== 'iteration' && selectedTab?.toLowerCase() !== 'release' && selectedTab?.toLowerCase() !== 'developer'" class="form-check filter-box p-col-lg abc" style="min-width: 170px;">
                        <ng-select formControlName="selectedLevel" [dropdownPosition]="'bottom'"
                           (change)="handleSelect($event)" placeholder="Organization Level"
                           id="Filter-Aggregation-Level" class="p-pb-0" [readonly]="(showChart === 'large')">
                           <ng-option *ngFor="let item of hierarchyLevels" [value]="item.hierarchyLevelId">
                              {{item?.hierarchyLevelName}}
                           </ng-option>
                        </ng-select>
                     </div>
                     <!-- Trend line value -->
                     <div *ngIf="allowMultipleSelection" class="form-check filter-box p-col-lg trend-line-container" style="min-width: 289px;">
                        <ng-select formControlName="selectedTrendValue" [dropdownPosition]="'bottom'" #selector
                           [multiple]="true"
                           [items]="trendLineValueList"
                           bindLabel="nodeName"
                           bindValue="nodeId"
                           [placeholder]="showChart === 'large'? 'Select One Project'  :'Select ' + getLevelName(filterForm.get('selectedLevel')?.value) + '(Up to 6)'"
                           [closeOnSelect]="false"
                           (remove)="handleRemove()"
                           [maxSelectedItems]="showChart === 'large' ? 1 : 6"
                           class="trend-line-value p-pb-0">
                           <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                              <div class="ng-value" *ngFor="let item of items | slice:0:2">
                                    <span class="ng-value-label">{{item.nodeName}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                              </div>
                              <div class="ng-value" *ngIf="items.length > 2">
                                    <span class="ng-value-label">{{items.length - 2}} more...</span>
                              </div>
                           </ng-template>
                           <ng-template ng-option-tmp let-item="item" let-index="index">
                              {{item.nodeName}} 
                              <span *ngIf="item.parentId[0]" class="active-state">({{parentIDClean(item.parentId[0])}})</span>
                          </ng-template>
                           <ng-template ng-footer-tmp>
                              <div class="p-d-flex p-justify-end p-align-center p-mt-1">
                                 <button pButton pRipple label="Cancel" icon="pi pi-times"
                                    class="p-button-secondary p-button-text p-mr-2 p-button-sm"
                                    (click)="handleClose()"></button>
                                 <button pButton pRipple label="Apply" icon="pi pi-save"
                                    class="p-button-secondary p-button-sm" (click)="onSelectedTrendValueChange()"
                                    [disabled]="filterForm.get('selectedTrendValue')?.value?.length == 0"></button>
                              </div>
                           </ng-template>
                        </ng-select>
                     </div>
                     <div *ngIf="!allowMultipleSelection" class="form-check filter-box p-col-lg trend-line-container abc" style="max-width: 250px;">
                        <ng-select formControlName="selectedTrendValue" [dropdownPosition]="'bottom'" #selector
                           [placeholder]="'Select ' + getLevelName(filterForm.get('selectedLevel')?.value)"
                           [items]="trendLineValueList"
                           bindLabel="nodeName"
                           bindValue="nodeId"
                           [closeOnSelect]="true" (change)="selectedTab?.toLowerCase() === 'iteration' ? handleIterationFilters('project') : (selectedTab?.toLowerCase() === 'release') ? handleMilestoneFilter('project') : onSelectedTrendValueChange()"
                           class="trend-line-value p-pb-0">
                           <ng-template ng-option-tmp let-item="item" let-index="index">
                              {{item.nodeName}} 
                              <span *ngIf="item.parentId[0]" class="active-state">({{parentIDClean(item.parentId[0])}})</span>
                          </ng-template>
                        </ng-select>
                     </div>
                     <div *ngIf="selectedTab?.toLowerCase() === 'iteration'" class="form-check filter-box p-col-lg trend-line-container sprint-filter abc iteration-selected-sprint">
                     <ng-select  formControlName="selectedSprintValue" [dropdownPosition]="'bottom'"
                        (change)="handleIterationFilters('sprint')" placeholder="Sprint" [clearable]="false"
                        class="p-pb-0">
                        <ng-option *ngFor="let item of filteredAddFilters['sprint']" [value]="item.nodeId">
                           {{item.nodeName}}{{item.sprintState?.toLowerCase() === 'active'? ' (Active)' : ' (Closed)'}}
                        </ng-option>
                     </ng-select>
                  </div>
                  <div *ngIf="selectedTab?.toLowerCase() === 'release'" class="form-check filter-box p-col-lg trend-line-container sprint-filter abc iteration-selected-sprint">
                     <ng-select  formControlName="selectedRelease" [dropdownPosition]="'bottom'"
                        (change)="handleMilestoneFilter('release')" placeholder="Release" [clearable]="false"
                        class="p-pb-0">
                        <ng-option *ngFor="let item of filteredAddFilters['release']" [value]="item.nodeId">
                           {{item.nodeName}}{{item.releaseState?.toLowerCase() === 'released'? ' (RELEASED)' : ' (UNRELEASED)'}}
                        </ng-option>
                     </ng-select>
                  </div>
                  </div>
                  <div class="p-d-flex p-align-end" *ngIf="this.selectedTab?.toLowerCase() !== 'maturity' && selectedTab?.toLowerCase() !== 'backlog' && selectedTab?.toLowerCase() !== 'iteration' && selectedTab?.toLowerCase() !== 'release'">
                     <!-- Date filter start -->
                     <div *ngIf="(kanban && selectedDateFilter !== '') || this.selectedTab?.toLowerCase() === 'developer'"
                        class="selected-date p-ml-auto p-mr-2 p-mt-auto p-align-end">
                        <img src="../../../assets/img/ico-date.svg" alt="date" class="p-mr-1" />
                        <span>{{selectedDateFilter}}</span>
                     </div>
                     <div class="position-relative" *ngIf="kanban || this.selectedTab?.toLowerCase() === 'developer'">
                        <div class="btn-custom p-d-flex p-align-center p-text-uppercase p-p-2 rounded p-ml-2 filter-btn"
                           #dateToggleButton [ngClass]="{'active': toggleDateDropdown}"
                           (click)="toggleDateDropdown = !toggleDateDropdown">
                           Date
                        </div>
                        <div class="filter-options-container date-filter-dropdown" *ngIf="toggleDateDropdown"
                           #dateDrpmenu>
                           <div class="filter-options filter-date">
                              <div class="p-buttonset">
                                 <button pButton type="button" class="p-button-secondary p-button-sm"
                                    *ngFor='let label of dateRangeFilter?.types'
                                    [ngClass]="{'btn-active': selectedDayType === label}" label={{label}}
                                    (click)="setSelectedDateType(label)"></button>
                              </div>
                              <div class="ui-g-12" *ngFor='let count of dateRangeFilter?.counts;'>
                                 <p-radioButton value="{{count}}" label="{{count}}" formControlName="date"
                                    inputId="{{count}}"></p-radioButton>
                              </div>
                           </div>
                           <div class="p-d-flex p-justify-end p-align-center p-mt-1 btn-container">
                              <button pButton pRipple label="Cancel" icon="pi pi-times"
                                 class="p-button-secondary p-button-text p-mr-2 p-button-sm"
                                 (click)="toggleDateDropdown = false"></button>
                              <button pButton pRipple label="Apply" icon="pi pi-save"
                                 class="p-button-secondary p-button-sm" (click)="applyChanges('date')"></button>
                           </div>
                        </div>
                     </div>
                     <!-- Date filter end -->
                     <!-- additional filters start -->
                     <div class="p-d-flex"
                        *ngIf="selectedTab?.toLowerCase() !== 'value' && selectedTab?.toLowerCase() !== 'maturity' && selectedTab?.toLowerCase() !== 'dora' && selectedTab?.toLowerCase() !== 'developer'">
                        <div *ngFor="let item of additionalFiltersArr; let i = index;" class="position-relative">
                           <div *ngIf="item?.hierarchyLevelId !== 'release'"
                              class="btn-custom p-d-flex p-align-center p-text-uppercase p-p-2 rounded p-ml-2 filter-btn"
                              [ngClass]="{'active': toggleDropdownObj[item?.hierarchyLevelId], 'disabled': isAddFilterDisabled(item?.hierarchyLevelId)}"
                              (click)="toggleDropdownObj[item.hierarchyLevelId] = !toggleDropdownObj[item.hierarchyLevelId]"
                              [id]="item.hierarchyLevelId+'Btn'">
                              {{item?.hierarchyLevelName}}
                           </div>
                           <div class="filter-options-container add-filters-dropdown" [id]="item.hierarchyLevelId+'DDn'"
                              *ngIf="toggleDropdownObj[item?.hierarchyLevelId] && filteredAddFilters[item.hierarchyLevelId]?.length > 0">
                              <div class="filter-options">
                                 <label class="checkbox-modified"
                                    *ngFor="let key of filteredAddFilters[item.hierarchyLevelId]; let i = index">
                                    <input type="radio" *ngIf="item?.hierarchyLevelId !== 'sprint'"
                                       [formControlName]="item?.hierarchyLevelId" [value]="key.nodeId" class="p-mr-1" />
                                    <div *ngIf="item?.hierarchyLevelId === 'sprint'"
                                       [formGroupName]="item?.hierarchyLevelId">
                                       <input type="checkbox" [formControlName]="key.nodeId"
                                          [checked]="filterForm?.get(item?.hierarchyLevelId)?.value[key.nodeId]"
                                          class="p-mr-1" />
                                    </div>
                                    {{key.nodeName}}
                                 </label>
                              </div>
                              <div class="p-d-flex p-justify-end p-align-center p-mt-1 btn-container">
                                 <button pButton pRipple label="Cancel" icon="pi pi-times"
                                    class="p-button-secondary p-button-text p-mr-2 p-button-sm"
                                    (click)="toggleDropdownObj[item?.hierarchyLevelId] = false"></button>
                                 <button pButton pRipple label="Apply" icon="pi pi-save"
                                    class="p-button-secondary p-button-sm"
                                    (click)="applyChanges(item?.hierarchyLevelId)"
                                    [attr.disabled]="checkIfBtnDisabled(item?.hierarchyLevelId)"></button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- additional filters end -->
                  </div>
               </div>
            </form>
         </div>

         <div class="p-d-flex p-align-center">
            <div class="last-sync-date-block" *ngIf="selectedTab?.toLowerCase() === 'iteration'">
               <div class="p-d-flex p-align-center p-jc-end">
                  <img *ngIf="selectedProjectLastSyncStatus === 'SUCCESS'" src="../../../assets/img/icon-success.svg" alt="Success" class="p-mr-1"/>
                  <img *ngIf="selectedProjectLastSyncStatus === 'NA' && !lastSyncData?.fetchSuccessful" src="../../../assets/img/icon-time.svg" alt="Time" class="p-mr-1" />
                  <img *ngIf="selectedProjectLastSyncStatus === 'FAILURE'" src="../../../assets/img/icon-failure.svg" alt="Failure" class="p-mr-1" />
                  <h4 class="label-text p-text-right p-mt-0 p-mb-0 p-mr-2">
                     Last Sync
                  </h4>

               </div>
               <p class="last-sync-date p-m-0 p-text-right">
                  {{selectedProjectLastSyncStatus != 'NA' ? (selectedProjectLastSyncDate | date :'dd-MMM-yyyy (EEE) h:mm:ss a') : 'NA' }}
               </p>
            </div>

            <!-- SHow/Hide start for iteration and backlog -->

            <div class="position-relative p-ml-2" *ngIf="selectedTab?.toLowerCase() !== 'maturity' && (selectedTab?.toLowerCase() == 'backlog' || selectedTab?.toLowerCase() == 'iteration' || selectedTab?.toLowerCase() === 'release')"
               [ngClass]="noAccessMsg ? 'hide-filter':'show-filter'">
               <div
                  class="btn-custom p-d-flex p-align-center p-text-uppercase p-p-2 rounded filter-dropdown filter-btn"
                  #showHide [ngClass]="{'active': toggleDropdown['showHide'],'disabled': noProjects}" (click)="toggleDropdown['showHide'] = !toggleDropdown['showHide']">
                  Show/Hide
               </div>
               <div *ngIf="toggleDropdown['showHide'] && showKpisList && showKpisList?.length > 0"
                  class="position-absolute showHideDdn" #showHideDdn>
                  <form [formGroup]="kpiForm" (ngSubmit)="submitKpiConfigChange()">

                     <div class="p-d-flex p-align-center p-p-3 border-bottom">
                        <p-inputSwitch formControlName="enableAllKpis" (onChange)="handleAllKpiChange($event)">All KPI's
                        </p-inputSwitch>
                        <span class="p-ml-2">All KPI's</span>
                     </div>
                     <ul formGroupName="kpis" class="kpiList p-pl-3 p-pr-3 p-mb-0 p-pb-3">
                        <li *ngFor="let kpi of this.showKpisList"
                           class="p-d-flex p-align-center p-p-2 border rounded p-mt-3">
                           <p-inputSwitch [formControlName]="kpi.kpiId" (onChange)="handleKpiChange($event)">
                           </p-inputSwitch>
                           <span class="p-ml-2">{{kpi.kpiName}}</span>
                        </li>
                     </ul>
                     <div class="p-p-3 border-top p-text-right">
                        <button pButton pRipple label="Cancel" icon="pi pi-times"
                           class="p-button-secondary p-button-text p-mr-2 p-button-sm"
                           (click)="toggleDropdown['showHide'] = false"></button>

                        <button type="submit" pButton pRipple class="p-button-sm p-button-success p-button-raised"
                           icon="{{ showHideLoader ? 'pi pi-spin pi-spinner' : 'pi pi-check' }}" iconPos="left" label="Save" (click)="kpisNewOrder = []"
                           [ngClass]="{'active': toggleDropdown['showHide'],'disabled': showHideLoader}"></button>
                     </div>

                  </form>
               </div>
            </div>

            <!-- /show/hide kpi's ends -->
            <!-- Capacity Planning link start -->
            <div [ngClass]="{'disabled': !isAdmin}" class="btn-custom p-p-2 rounded filter-btn noti-btn-wraper"
                role="button" (click)="redirectToCapacityPlanning()" title="Go to Capacity Planning">
               <i class="pi pi-users" style="font-size: 20px;font-weight: bold;"></i>
            </div>
            <!-- Capacity Planning link end -->
            <!-- comments icon start -->
            <div class="position-relative">
               <div id="comment-summary"  class="btn-custom rounded p-p-0 filter-btn"  *ngIf="selectedTab?.toLowerCase() != 'maturity'"
                  [ngClass]="{'disabled':filterForm.get('selectedLevel')?.value != 'project'
               || (filterForm.get('selectedLevel')?.value == 'project' && selectedFilterArray?.length > 1)}">
                  <img #commentSummary class="p-p-2 " (click)="handleBtnClick();"
                  src="../../../assets/img/ico-comments.svg" alt="Comments"/>
               </div>
               <div #commentSummaryDdn id="comment-popup" class="commentSummaryDdn" *ngIf="toggleDropdown['commentSummary']">
                  <div class="comment-inner-section">
                     <i *ngIf="showSpinner" class="fas fa-circle-notch icon-spinner"></i>
                     <ng-container *ngIf="commentList?.length > 0 && !showSpinner; else noComments">
                        <h5 class="p-m-0 font-grey font-bold">Latest 10 comments</h5>
                        <h5 class="p-mb-2 p-mt-2 font-grey">
                           {{getNodeName(filterForm.get('selectedTrendValue')?.value)}}
                           <span *ngIf="selectedTab?.toLowerCase() == 'iteration' && (selectedSprint | json) != '{}'">
                              {{' >> ' + selectedSprint['nodeName']}}
                           </span>
                           <span *ngIf="selectedTab?.toLowerCase() == 'release' && (selectedRelease | json) != '{}'">
                              {{' >> ' + selectedRelease['nodeName']}}
                           </span>
                        </h5>
                        <div *ngFor="let comment of commentList">
                           <h5 class="comment-heading font-small p-mb-1">{{kpiObj[comment.kpiId]}}</h5>
                           <div class="comment-author font-small">
                              <b>{{comment?.commentBy}}</b>
                              {{comment?.commentOn}}
                           </div>
                           <p class="comment-msg p-mt-1">{{comment?.comment}}</p>
                        </div>
                     </ng-container>
                  </div>
                  <ng-template #noComments>
                     <h5 class="p-m-0 font-grey" *ngIf="!showSpinner">No comments</h5>
                  </ng-template>
               </div>
            </div>
            <!-- /comments icon end -->
            <!-- Notification button start -->
            <div class="btn-custom p-p-2 rounded p-mr-3 filter-btn noti-btn-wraper"
               (click)="notification.toggle($event)" role="button">
               <img src="../../../assets/img/icon-bell.svg" alt="Bell" />
               <span *ngIf="totalRequestCount > 0" class="noti-count">{{totalRequestCount}}</span>
            </div>
            <p-menu #notification [popup]="true" [model]="notificationList"></p-menu>
            <!-- Notification button end -->
         </div>
      </div>

   </div>

   <div class="p-d-flex">
      <div class="back-btn-wraper">
         <div *ngIf="router.url.split('/').includes('Config') || router.url.split('/').includes('Help')" class="back-btn-container rounded p-mr-3 cursor-pointer">
            <button class="back-btn" routerLinkActive="active" (click)="navigateToDashboard()">BACK TO DASHBOARD</button>
         </div>
      </div>
      <div class="username-btn-wraper" role="button">
         <div class="profile-budge cursor-pointer" (click)="menu.toggle($event)">
            {{username}}
            <i class="pi pi-bars menu-icon"></i>
         </div>
         <p-menu #menu [popup]="true" [model]="items"></p-menu>
      </div>
   </div>
</div>

<div class="clearfix" *ngIf="(!router.url.split('/').includes('Config') && router.url !== '/dashboard/Error' && router.url !== '/dashboard/Help')">
   <div class="filter-nav">
      <div class="selected-filter-row p-d-flex p-jc-between" *ngIf="selectedTab?.toLowerCase() !== 'iteration' && selectedTab?.toLowerCase() !== 'backlog' && selectedTab?.toLowerCase() !== 'release' && selectedTab?.toLowerCase() !== 'dora'">
         <ul class="p-m-0 p-pl-0 p-d-flex p-flex-wrap">
            <!-- *ngIf="!kanban"-->
            <ng-container *ngFor="let item of selectedFilterArray; let i = index;">
               <li class="selectedfilter p-mr-3">
                  <div class="selected-node">
                     <div class="selected-node-label p-pl-0"><span class="align-list-marker" [title]="item?.nodeName" [ngStyle]="{'background':colorObj[item.nodeId]?.color}"></span>{{item?.nodeName?.length
                        <= 20 ? item?.nodeName : item?.nodeName?.slice(0,20)+'...'}} <span class="remove-node p-l-1"
                           (click)="removeNode(item.nodeId)" *ngIf="selectedFilterArray.length > 1">x</span>
                     </div>
                     <div class="p-d-flex" *ngIf="item?.additionalFilters?.length > 0">
                        <div class="p-d-flex p-align-center" (mouseover)="showDropdown[item?.nodeId] = true"
                           (mouseleave)="showDropdown[item?.nodeId] = false">
                           <img src="../../../assets/img/ico-filter.svg" alt="Filter" class="p-mr-1" />
                           <span class="text-underline">{{item?.additionalFilters?.length + " Filters Selected"}}</span>
                           <div class="itemsDropdown border p-p-2" *ngIf="showDropdown[item?.nodeId]"
                              (mouseleave)="showDropdown[item?.nodeId] = false">
                              <div *ngFor="let key of item?.additionalFilters" class="p-d-flex p-align-center">
                                 <img *ngIf="key?.labelName?.toLowerCase() !== 'sprint'"
                                    src="../../../assets/img/ico-square.svg" [alt]="key?.labelName" class="p-mr-1" />
                                 <img *ngIf="key?.labelName?.toLowerCase() === 'sprint'"
                                    src="../../../assets/img/arrow-right.svg" alt="sprint" class="p-mr-1" />
                                 <div class="nodeName p-mr-2">{{key?.nodeName}}</div>
                                 <div class="btn-remove" (click)="removeItem(key?.labelName, key?.nodeId)">x</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
            </ng-container>
         </ul>
         <!-- toggle view -->
         <div class="tabs" *ngIf="selectedTab?.toLowerCase() !== 'maturity'">
            <input id="chart-view" class="chart-view" type="radio" name="view" [checked]="showChart === 'chart'">
            <label class="label1" for="chart-view" (click)="showChartToggle('chart')" id="Layout-Chart">
               <img src="../../../assets/img/ico-graph-white.svg" alt="Chart View" class="ico-active" />
               <img src="../../../assets/img/ico-graph-black.svg" alt="Chart View" class="ico-default" />
            </label>
            <input id="large-view" class="large-view" type="radio" name="view" [checked]="showChart === 'large'" [ngClass]="{'large-view-disabled': totalProjectSelected !==1 || selectedLevelValue !== 'project'}">
            <label class="label3" for="large-view" (click)="showChartToggle('large')" id="Layout-Chart" [ngClass]="{'large-view-disabled': totalProjectSelected !==1 || selectedLevelValue !== 'project'}">
               <img src="../../../assets/img/full-screen-white.svg" alt="Large View" class="ico-active" />
               <img src="../../../assets/img/full-screen-black.svg" alt="Large View" class="ico-default" />
            </label>
            <input id="table-view" class="table-view" type="radio" name="view" [checked]="showChart === 'table'">
            <label class="label2" for="table-view" (click)="showChartToggle('table')" id="Layout-Table">
               <img src="../../../assets/img/ico-table-black.svg" alt="Table View" class="ico-default" />
               <img src="../../../assets/img/ico-table-white.svg" alt="Table View" class="ico-active" />
            </label>
            <!-- SHow/Hide start -->

            <div class="position-relative p-ml-2" *ngIf="selectedTab?.toLowerCase() !== 'maturity'"
               [ngClass]="noAccessMsg ? 'hide-filter':'show-filter'">
               <div
                  class="btn-custom p-d-flex p-align-center p-text-uppercase p-p-2 rounded filter-dropdown filter-btn p-mr-2"
                  #showHide [ngClass]="{'active': toggleDropdown['showHide'],'disabled': noProjects}" (click)="toggleDropdown['showHide'] = !toggleDropdown['showHide']">
                  Show/Hide
               </div>
               <div *ngIf="toggleDropdown['showHide'] && showKpisList && showKpisList?.length > 0"
                  class="position-absolute showHideDdn" #showHideDdn>
                  <form [formGroup]="kpiForm" (ngSubmit)="submitKpiConfigChange()">

                     <div class="p-d-flex p-align-center p-p-3 border-bottom">
                        <p-inputSwitch formControlName="enableAllKpis" (onChange)="handleAllKpiChange($event)">All KPI's
                        </p-inputSwitch>
                        <span class="p-ml-2">All KPI's</span>
                     </div>
                     <ul formGroupName="kpis" class="kpiList p-pl-3 p-pr-3 p-mb-0 p-pb-3">
                        <li *ngFor="let kpi of this.showKpisList"
                           class="p-d-flex p-align-center p-p-2 border rounded p-mt-3">
                           <p-inputSwitch [formControlName]="kpi.kpiId" (onChange)="handleKpiChange($event)">
                           </p-inputSwitch>
                           <span class="p-ml-2">{{kpi.kpiName}}</span>
                        </li>
                     </ul>
                     <div class="p-p-3 border-top p-text-right">
                        <button pButton pRipple label="Cancel" icon="pi pi-times"
                           class="p-button-secondary p-button-text p-mr-2 p-button-sm"
                           (click)="toggleDropdown['showHide'] = false"></button>

                        <button type="submit" pButton pRipple class="p-button-sm p-button-success p-button-raised"
                           icon="pi pi-check" iconPos="left" label="Save"></button>
                     </div>

                  </form>
               </div>
            </div>

            <!-- Download button start -->
            <!--*ngIf="isSuperAdmin && ( selectedTab == 'mydashboard' || selectedTab == 'EngineeringMaturity')"-->
            <div class="btn-custom p-p-2 rounded p-mr-3 filter-btn"
               *ngIf="selectedTab?.toLowerCase() != 'maturity' && selectedTab?.toLowerCase() != 'iteration' && selectedTab?.toLowerCase() != 'backlog'"
               id="Filter-Download-Btn" (click)="exportToExcel($event)" [ngClass]="{'disabled': showChart || noProjects}"
               [attr.title]="'Export View'">
               <img src="../../../assets/img/ico-download.svg" alt="Download" />
            </div>
            <!-- Download button end -->
            <!-- Download excel Button error message start -->
            <span class="float-right errMsz alert alert-danger" style="padding: 6px 17px;"
               *ngIf="( enginneringMaturityErrorMessage !== '' ) && ( selectedTab === 'EngineeringMaturity' )">{{
               enginneringMaturityErrorMessage }}</span>
            <!-- Download excel Button error message end -->
         </div>
      </div>
      <div class="selected-filter-row p-d-flex p-jc-between" [ngClass]="{'p-jc-between': selectedTab?.toLowerCase() !== 'backlog','p-jc-end':selectedTab?.toLowerCase() === 'backlog'}" *ngIf="selectedTab?.toLowerCase() === 'iteration' || selectedTab?.toLowerCase() === 'backlog' || selectedTab?.toLowerCase() === 'release'">
         <!--start date and end date-->
         <div class="p-d-flex p-ml-3 p-align-end" *ngIf="selectedTab?.toLowerCase() !== 'backlog'">
            <span class="p-mr-5">
               <h4 class="label-text p-mt-0 p-mb-2">Start Date</h4>
               <p class="p-m-0 selected-data"
                  [ngClass]="{'active-state': selectedFilterArray[0]?.sprintState?.toLowerCase() === 'active'}">
                  {{getDate('start')}}</p>
            </span>
            <span class="p-mr-5">
               <h4 class="label-text p-mt-0 p-mb-2">End Date</h4>
               <p class="p-m-0 selected-data"
                  [ngClass]="{'active-state': selectedFilterArray[0]?.sprintState?.toLowerCase() === 'active'}">
                  {{getDate('end')}}</p>
            </span>
            <span class="p-mr-5" *ngIf="iterationConfigData?.daysLeft != undefined">
               <h4 class="label-text p-mt-0 p-mb-2">Days Left</h4>
               <p class="p-m-0 text-red">
                  {{iterationConfigData?.daysLeft > 0 ? iterationConfigData?.daysLeft : 0}} Days</p>
            </span>
            <span class="p-mr-5" *ngIf="iterationConfigData?.capacity != undefined && selectedTab?.toLowerCase() !== 'release'">
               <h4 class="label-text p-mt-0 p-mb-2">Capacity <span class="fa fa-info-circle" aria-hidden="true"
                     (mouseover)="showTooltip(true)" (mouseleave)="showTooltip(false)" [style]="{'position': 'relative'}">
                     <app-tooltip *ngIf="isTooltip" [data]="iterationConfigData?.capacity?.kpiInfo"></app-tooltip>
                  </span></h4>
               <p class="p-m-0 text-blue">
                  {{iterationConfigData.capacity?.value?.value ? iterationConfigData.capacity?.value?.value + ' Hours' :
                  'NA'}}</p>
            </span>
         </div>
         <div class="p-d-flex p-align-center">
            <div class="p-mr-2" *ngIf="this.selectedSprint['sprintState']?.toLowerCase() === 'active' && !isGuest && selectedTab?.toLowerCase() === 'iteration'">
               <span class="refresh-state p-p-2" (click)="displayModal = true"
               *ngIf=" (lastSyncData | json) == '{}' || lastSyncData.errorInFetch">
                  <img src="../../../assets/img/icon-refresh.svg" class="p-mr-1" alt="Refresh"/>REFRESH
               </span>
               <span class="refresh-state p-p-2" *ngIf=" !((lastSyncData | json) == '{}') && !lastSyncData.fetchSuccessful && !lastSyncData.errorInFetch">
                  <img src="../../../assets/img/icon-syncing.svg" class="p-mr-1" alt="Sync"/>SYNCING
               </span>
               <span class="success-state p-p-2" *ngIf="!((lastSyncData | json) == '{}') && lastSyncData?.fetchSuccessful" (click)="onUpdateKPI()">
                  <img src="../../../assets/img/icon-update.svg" class="p-mr-1" alt="Update"/>UPDATE
               </span>
            </div>
            <button pButton pRipple type="button" [disabled]="kpisNewOrder?.length === 0"
               [ngClass]="{'p-button-outlined' : kpisNewOrder?.length === 0 }" label="SAVE DASHBOARD VIEW"
               class="p-button-secondary" (click)="setKPIOrder()"></button>
         </div>
      </div>

   </div>

</div>
<p-dialog [(visible)]="displayModal" [modal]="true">
   <p-header>Are you sure you want to refresh?</p-header>
   <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton pRipple icon="pi pi-times" (click)="displayModal = false" label="Cancel"
              class="p-button p-button-danger p-button-raised"></button>
          <button type="button" pButton pRipple icon="fa fa-check" (click)="fetchData()" label="Ok"
              class="p-button p-button-success p-button-raised"></button>
      </div>
  </p-footer>
 </p-dialog>
