<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
</head>
<body>
<span>Logging out of your Microsoft account</span>
<div class="container">
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-primary" id="rp_logout_button" type="submit" hidden>
            Confirm
        </button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        localStorage.removeItem("email");
        document.getElementById("rp_logout_button").click();
    });
</script>

</body>
</html>