<div id="back_icon" class="p-align-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#049fff" class="bi bi-arrow-left-circle-fill p-mr-3" viewBox="0 0 16 16"> <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/> </svg>
    <span class="p-mt-1" *ngIf="selectedNode && selectedNode['data']['kpiGroup']">{{selectedNode['data']['kpiGroup']}}</span>
</div>
<div [id]="'chart-'+kpiId">
    <div id="legendContainer">
    </div>
</div>

<!--Required for dynamic component only; not in use right now-->
<div class="tooltip-chart-container">
    <div id="legendContainer">
    </div>
    <ng-template #popupHost></ng-template>
</div>
<div class="overlay" *ngIf="loader">
    <div class="loading-img"></div>
</div>
