.container {
    background: #fff;
    border-radius: 5px;
    opacity: 1;
    position: relative;
    margin: 0.5rem 0.25rem;
    max-height: calc(100vh - 265px);
    overflow-y: hidden;
}

.filter-header,
.show-more {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
}

.user-filter {
    padding: 0px;
    margin-left: 2rem;
    max-width: calc(75%);
    overflow-x: auto;
    display: inline-block;
}

.filter-header {
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
}

.user-filter.show-less {
    height: 62px;
    overflow: hidden;
    padding-bottom: 1rem;
    width: 85% !important;
}

.show-more {
    height: 62px;
    width: 15%;
}

/* filter button css */
/* :host::ng-deep.filter-header button{
    color: black;
    background: #EFEFEF;
} */

:host::ng-deep .p-button:enabled:focus,
:host::ng-deep.p-button:enabled:hover {
    background: #EFEFEF;
    color: black;
}

/* user button css */
button.assignee {
    width: 40px;
    height: 36px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    padding: 0;
    align-items: flex-end;
    margin-left: 4px;
}

button.assignee.selected-user {
    background: #437495 !important;
    color: white !important;
    font-weight: bold;
    border: none;
}

/* user info table css */
:host::ng-deep .p-datatable {
    border: 1px solid var(--color-gray-c6);
}

:host::ng-deep.p-datatable-thead tr:nth-child(2) th {
    padding: 0.5rem 1rem;
    background-color: #EFEFEF;
}

:host::ng-deep .p-datatable tr td .user-name {
    font-weight: bold;
}

.selected-user-info {
    display: flex;
    margin-left: 1rem;
}

.selected-user-info p {
    color: var(--color-green);
}

/* @media (max-width: 1260px) and (-webkit-min-device-pixel-ratio: 1) { */

    :host .container,
    :host::ng-deep .container .p-component,
    .button.assignee,:host::ng-deep .legends-button {
        font-size: 10px !important;
        font-family: var(--font-regular) !important;
    }

    :host .button.assignee {
        width: 40px;
        height: 36px;
    }
/* } */

/* @media (min-width: 1724px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {

    :host .container,
    :host::ng-deep .container .p-component,
    .button.assignee,:host::ng-deep .legends-button {
        font-size: 16px !important;
        font-family: var(--font-regular) !important;
    }

    :host .button.assignee {
        width: 40px;
        height: 36px;
    }
} */