<main class="container">
    <section class="graph-container">
        <app-daily-scrum-graph 
        [selectedSprintInfo]="currentSprint"
        [issueDataList]="issueDataList"
        [standUpStatusFilter]="standUpStatusFilter"></app-daily-scrum-graph>
    </section>
    <section class="issue-card-container"> 
        <div class="issue-nav p-m-2">
            <p-button label="Previous" class="prev" (click)="onPreviousIssue()" [disabled]="currentIssueIndex === 0"></p-button>
            <p-button label="Next" class="next" (click)="onNextIssue()" [disabled]="currentIssueIndex === this.issueDataList.length-1"></p-button>
        </div>
        <app-issue-card [issueData]="issueDataList[currentIssueIndex]"></app-issue-card>
    </section>
</main>
