.container{
    min-height: 400px;
    display: flex;
    padding: 0.25rem;
    box-sizing: border-box;
    position: relative;
}

.graph-container{
    border: 1px solid #c0c0c0;
    margin-right: 0.25rem;
    flex-basis: 75%;
    flex: 1 1 auto;
    max-height: 100%;
    height: calc(100vh - 220px);
    overflow: hidden;
    margin-top: 50px;
}

.issue-card-container{
    flex-basis: 24%;
    border: 1px solid #c0c0c0;
    height: calc(100vh - 220px);
    overflow-y: auto;
    margin-top: 50px;
}

.issue-nav{
    display: flex;
    justify-content: space-between;
}

:host::ng-deep .prev .p-button,:host::ng-deep .next .p-button{
    color: black;
    background: #EFEFEF;
}

.noFullScreen, .container.noFullScreen #scroller {
    height: calc(100vh - 385px);
    overflow-y: auto;
    min-height: unset;
    max-height: unset;
}

.noFullScreen .issue-card-container {
    height: fit-content;
    overflow-y: unset;
}
