<div class="sprint-goals-container p-p-3">
    <h3>Sprint Goals</h3>
    <p-accordion>
        <p-accordionTab header="Header I">
            <p>
                Lorem ipsum dolor sit amet...
            </p>
        </p-accordionTab>
        <p-accordionTab header="Header II">
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
            </p>
        </p-accordionTab>
        <p-accordionTab header="Header III">
            <p>
                At vero eos et accusamus et iusto odio dignissimos...
            </p>
        </p-accordionTab>
    </p-accordion>
</div>