<p-dropdown styleClass="statusFilterDropDown" placeholder="Filter by Status" [showClear]="true"
[options]="statusFilterOptions" [(ngModel)]="selectedStatus" optionLabel="name" (onChange)="filterTasksByStatus($event)"></p-dropdown>
<div>
    <button class="legends-button" (click)="showLegends()">Legend</button>
</div>

<div id="chart-main-container">
    <div id="chart-container">
        <div id="scroller">
            <div id="issueAxis"></div>
            <div id="chart">
                <div style="width:100%;" id="dateAxis"></div>
                <div class="tooltip-container"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal">
    <p-dialog [(visible)]="displayModal" header="Legend" [modal]="true" [draggable]="true" [resizable]="true">
        <div class="p-grid p-p-6">
            <div class="p-col-3 p-d-flex p-flex-column legend-item">
                <img style="width:32px; margin:auto;" alt="Epic" src="../../../assets/img/Epic.svg" />
                <span class="p-d-block p-mt-2">Epic</span>
            </div>
            <div class="p-col-3 p-d-flex p-flex-column legend-item">
                <img style="width:32px; margin:auto;" alt="Story" src="../../../assets/img/Story.svg" />
                <span class="p-d-block p-mt-2">Story</span>
            </div>
            <div class="p-col-3 p-d-flex p-flex-column legend-item">
                <img style="width:32px; margin:auto;" alt="Task" src="../../../assets/img/Subtask_icon.svg" />
                <span class="p-d-block p-mt-2">Subtask</span>
            </div>
            <div class="p-col-3 p-d-flex p-flex-column legend-item">
                <img style="width:32px; margin:auto;" alt="Bug" src="../../../assets/img/Bug.svg" />
                <span class="p-d-block p-mt-2">Defect</span>
            </div>
            <div class="p-col-3 p-d-flex p-flex-column legend-item">
                <img style="width:50px; margin:auto;" alt="Due Date Exceeded" src="../../../assets/img/due-date-exceeded.svg" />
                <span class="p-d-block">Due Date Exceeded</span>
            </div>
            <div class="p-col-3 p-d-flex p-flex-column legend-item">
                <img style="width:50px; margin:auto;" alt="Dev Completed" src="../../../assets/img/dev-completed.svg" />
                <span class="p-d-block">Dev Completed</span>
            </div>
            <div class="p-col-3 p-d-flex p-flex-column legend-item">
                <img style="width:50px; margin:auto;" alt="QA Completed" src="../../../assets/img/qa-completed.svg" />
                <span class="p-d-block">QA Completed</span>
            </div>
            <div class="p-col-3 p-d-flex p-flex-column legend-item">
                <img style="width:50px; margin:auto;" alt="Interim" src="../../../assets/img/intermin-status.JPG" />
                <span class="p-d-block">Interim Status</span>
            </div>
            <div class="p-col-3 p-d-flex p-flex-column legend-item">
                <img style="width:40px; margin:auto;" alt="Spilled Active Issue" src="../../../assets/img/spill active issue.JPG" />
                <span class="p-d-block">Spilled Issue</span>
            </div>
            <div class="p-col-3 p-d-flex p-flex-column legend-item">
                <img style="width:40px; margin:auto; margin-top: 14px; margin-bottom: 14px;" alt="Spilled Closed Issue" src="../../../assets/img/spill-issue-closed.JPG" />
                <span class="p-d-block">Spilled Closed Issue</span>
            </div>
            <div class="p-col-3 p-d-flex p-flex-column legend-item">
                <img style="width:40px; margin:auto;" alt="Active Issue" src="../../../assets/img/active-issue.JPG" />
                <span class="p-d-block">Active Issue</span>
            </div>
            <div class="p-col-3 p-d-flex p-flex-column legend-item">
                <img style="width:40px; margin:auto;" alt="Closed Issue" src="../../../assets/img/closed issue.JPG" />
                <span class="p-d-block">Closed Issue</span>
            </div>
        </div>
    </p-dialog>
</div>