<div>
    <button class="legends-button" (click)="showLegends()">Legends</button>
</div>

<div id="chart-main-container">
    <div id="dateLine">
        <div id="dateAxis"></div>
        <div id="chart-container">
        <div id="issueAxis"></div>
        <div id="chart">
            <div class="tooltip-container"></div>
        </div>
    </div>
    </div>
    
</div>
    <div class="modal">
        <p-dialog [(visible)]="displayModal" header="Legends" [modal]="true" [draggable]="true" [resizable]="true">
            <div class="p-p-3 p-pl-5">
                <div class="p-d-flex p-align-center">
                    <img src="../../../assets/img/due-date-exceeded.svg" />
                    <span class="p-ml-4">Due Date Exceeded</span>
                </div>
                <div class="p-d-flex p-align-center">
                    <img src="../../../assets/img/dev-completed.svg" />
                    <span class="p-ml-4">Dev Completed</span>
                </div>
                <div class="p-d-flex p-align-center">
                    <img src="../../../assets/img/qa-completed.svg" />
                    <span class="p-ml-4">QA Completed</span>
                </div>
                <div class="p-d-flex p-align-center">
                    <img src="../../../assets/img/intermin-status.JPG" />
                    <span class="p-ml-4">Intermin Status</span>
                </div>
                <div class="p-d-flex" [style]="{'align-items':'center'}">
                    <img style="width:40px" src="../../../assets/img/spill active issue.JPG" />
                    <span class="p-ml-4 p-mt-3 p-mb-4">Spilled Issue</span>
                </div>
                <div class="p-d-flex" [style]="{'align-items':'flex-start'}">
                    <img style="width:40px" src="../../../assets/img/spill-issue-closed.JPG" />
                    <span class="p-ml-4 p-mb-4">Spilled Closed Issue</span>
                </div>
                <div class="p-d-flex" [style]="{'align-items':'flex-start'}">
                    <img style="width:40px" src="../../../assets/img/active-issue.JPG" />
                    <span class="p-ml-4 p-mb-4">Active Issue</span>
                </div>
                <div class="p-d-flex" [style]="{'align-items':'flex-start'}">
                    <img style="width:40px" src="../../../assets/img/closed issue.JPG" />
                    <span class="p-ml-4 p-mb-4">Closed Issue</span>
                </div>
            </div>
        </p-dialog>
    </div>