#chart-main-container {
    background-color: #fff;
    display: flex;
    max-height: 100%;
}

#chart-container {
    display: flex;
    background-color: #fff;
    z-index: 1000;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
}

#scroller {
    width:100%;
    overflow-x: auto; 
    display: inline-block; 
    max-height: 100%;
    padding-bottom: 30px;
}

.container.noFullScreen #scroller {
    height: calc(100vh - 385px);
    overflow-y: auto;
    min-height: unset;
    max-height: unset;
}

#chart {
    max-width: 88%;
    margin-top: -32px;
    float: left;
}

.tooltip-container{
    position: relative;
}

:host ::ng-deep.tooltip{
    display: none;
    font-size: 10px;
    padding: 2px;
    position: absolute;
    border-radius: 5px;
    opacity: 0.5;
    pointer-events: none;
    color: white;
    background-color: black;
    padding: 0.5rem;
   
}

:host ::ng-deep.tooltip p{
    margin: 0rem;
}

:host ::ng-deep.tick text{
    font-size: 0.8rem;
}

.legends-button{
    position: absolute;
    top: -1rem;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: blue;
}

:host ::ng-deep .modal .p-dialog-header{
    display: flex !important;
}

:host ::ng-deep.modal .p-dialog-content{
    padding: 0;
}

:host ::ng-deep .modal .p-dialog.p-component.p-dialog-draggable.p-dialog-resizable{
    height: 500px !important;
    width: auto !important;
    max-width: 90vw !important;
    min-width: 544px;
}

:host ::ng-deep #issueAxis {
    width: 12%;
    display: inline;
    position: sticky;
    left: 0;
    float: left;
}

#dateLine {
    position: relative;
    display: flex;
}

#dateAxis {
    background-color: transparent;
    position: sticky;
    z-index: 1001;
    top: 0;
}


:host ::ng-deep .issueStatus {
    margin-top: 5px;
    display: block;
}

:host ::ng-deep .issueStatus::before {
    content: '';
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    margin-right: 5px;
    background-color: #bdbdbd;
    display: inline-block
}

:host ::ng-deep .issueStatus.in_progress::before {
    background-color: #20E24D;
}

:host ::ng-deep .issueStatus.closed::before {
    background-color: #3DA3C9;
}

:host ::ng-deep .issueTypeIcon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
    background-size: cover;
    margin-bottom: -3px;
}

:host ::ng-deep .issueTypeIcon.Task,
:host ::ng-deep .issueTypeIcon.Studio-Task {
    background-image: url('/assets/img/Subtask_icon.svg');
}

:host ::ng-deep .issueTypeIcon.Bug,
:host ::ng-deep .issueTypeIcon.Defect {
    background-image: url('/assets/img/Bug.svg');
}

:host ::ng-deep .issueTypeIcon.Story{
    background-image: url('/assets/img/Story.svg');
}
