.img-container{
    position: fixed;
    bottom: 10px;
    right: 20px;
    height: 70px;
    width: 70px;
    border: 2px solid #000;
    border-radius: 50px;
    background: #fff;
    
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}
.img-container img{
}
.text-recommendations{
    position: absolute;
    display: none;
    padding: 10px 20px;
    background: #fff;
    border: 2px solid #000;
    animation: reveal .3s linear;
    z-index: -1;
    right: 91%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
}
.img-container:hover .text-recommendations{
    display: block;
}
@keyframes reveal {
    0%   { right:50%;opacity: 0 }
    100% { right: 91%; opacity: 1;}
  }
:host ::ng-deep  .p-datatable .p-datatable-thead > tr.table-heading  > th{
    background: #eee;
}