.icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #f5f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabularKPI-column-header {
  margin-top: 15px;
}

.tabularKPI-column-value {
  font-weight: bold;
  margin-bottom: 15px;
}

.donut-container {
  margin-top: -15%;
}
