<div class="p-grid">
    <ng-container *ngFor="let item of data; let i=index;">
        <div *ngIf="i < 2" class="p-grid p-ai-center data-item p-col-7">
            <div class="icon-container p-col-4">
                <div class="icon">
                    <img src="../../../assets/img/{{ item.icon }}" alt="KPI Icon" class="kpi-logo" />
                </div>
            </div>
            <div class="data p-col-8">
                <p class="tabularKPI-column-header p-mb-0">{{ item.category }}</p>
                <p class="tabularKPI-column-value p-mt-0">{{  item.value }}</p>
            </div>
        </div>
        <div *ngIf="i === 2" class="donut-container p-d-flex p-flex-column p-col-4">
            <app-semi-circle-donut-chart [value]="item.value" [max]="item.totalIssues"></app-semi-circle-donut-chart>
        </div>
    </ng-container>
</div>