.board-menu{
    background: #F5F9FF;
}

:host ::ng-deep .p-menu .p-menuitem-text {
    font-size: 12px !important;
}

::ng-deep .board-menu .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
    border: 1px solid #D5DBE1;
    background: #fff;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    margin: 0 1rem 0 0;
    font-size: 12px;
}
::ng-deep .board-menu .p-tabmenu .p-tabmenu-nav{
    border: none;
    background: #F5F9FF;
}
::ng-deep .board-menu .p-tabmenu .p-tabmenu-nav .p-tabmenu-ink-bar{
    display: none;
}
::ng-deep .board-menu .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus, ::ng-deep .board-menu .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link{
    background: var(--color-blue);
    color: #fff;
    border-color: #D5DBE1;
}