.board-menu {
  background: #f5f9ff;
}

:host ::ng-deep .p-menu .p-menuitem-text {
  font-size: 12px !important;
}

::ng-deep
  .board-menu
  .p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem
  .p-menuitem-link {
  border: 1px solid #d5dbe1;
  background: #fff;
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  margin: 0 1rem 0 0;
  font-size: 12px;
}
::ng-deep .board-menu .p-tabmenu .p-tabmenu-nav {
  border: none;
  background: #f5f9ff;
}
::ng-deep .board-menu .p-tabmenu .p-tabmenu-nav .p-tabmenu-ink-bar {
  display: none;
}
::ng-deep
  .board-menu
  .p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem
  .p-menuitem-link:not(.p-disabled):focus,
::ng-deep
  .board-menu
  .p-tabmenu
  .p-tabmenu-nav
  .p-tabmenuitem.p-highlight
  .p-menuitem-link {
  background: #0b4bc8;
  color: #fff;
  border-color: #d5dbe1;
}

::ng-deep .board-menu .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight {
  pointer-events: none;
}
