<img class="kpi-info-icon cursor-pointer" src="../../../assets/img/comment-icon.svg" alt="comment icon"
    aria-hidden="true" (click)="op1.toggle($event); openComments()" />
<p-overlayPanel #op1 [showCloseIcon]="true" styleClass="comments-overlay">
    <div class="p-d-flex p-justify-between p-align-center">
        <span class="overlay-heading">
            Comments
        </span>
        <!-- <button class="p-element p-ripple p-button-sm p-button-success p-button-raised p-button"
            (click)="viewAllHandler($event,op1)">View All</button> -->
    </div>
    <p-tabView (onChange)="commentTabChange($event)" [(activeIndex)]="selectedTabIndex">
        <p-tabPanel *ngFor="let filter of selectedFilters; let i = index"
            header="{{filter.nodeName.length > 15 ? filter.nodeName.substring(0,15)+'..' : filter.nodeName}}">
            <div class="comment-combo">
                <textarea class="comment" [(ngModel)]="commentText" maxlength="500" (input)="commentChanged()"
                    [ngClass]="commentError?'errorClass':''"></textarea>
                <span *ngIf="commentError" class="text-danger">Comment can be of max 500 characters</span>
                <div class="p-d-flex p-justify-end p-align-center">
                    <button class="p-element p-ripple p-button-sm p-button-secondary p-button"
                        (click)="commentText = ''; commentError = false">Cancel</button>
                    <button class="p-element p-ripple p-button-sm p-button-success p-button"
                        (click)="submitComment(filter)" [disabled]="commentText.trim() === ''">Submit</button>
                </div>
            </div>
            <div *ngIf="dataLoaded; else loader">
                <ng-container *ngIf="commentsList.length>0; else noComments">
                    <div *ngFor="let comment of commentsList" class="comment-combo">
                        <div class="commented-by">@{{comment?.commentBy}} commented - {{comment?.commentOn}}
                            <span class="icon-delete" (click)="deleteComment(commentId)">
                                <i *ngIf="!showLoader" class="far fa-trash-alt"></i>
                                <i *ngIf="showLoader" class="fas fa-circle-notch"></i>
                            </span>
                        </div>
                        <div class="comment-box">
                            <p>{{comment?.comment}}</p>
                        </div>

                    </div>
                </ng-container>
                <ng-template #noComments>
                    <div class="comment-box comment-combo">
                        No Comments Available.
                    </div>
                </ng-template>
            </div>
            <ng-template #loader>
                <div class="overlay">
                    <div class="loading-img"></div>
                </div>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</p-overlayPanel>