.text-data {
    font-size: 1.5rem;
    color: var(--color-secondary-blue);
    margin: 0;
}

.text-label {
    color: var(--color-cyan-blue);
    font-size: 1.1rem;
    margin: 0 0.5rem 0 0.75rem;
    white-space: nowrap;
}

.text-time {
    color: var(--color-red);
}

.text-data .unit {
    font-size: 1.4rem;
}

.btn-arrow-down {
    color: var(--color-black);
    width: .8rem;
    cursor: pointer;
}

.card-type-1 {
    position: relative;
    width: 100%;
}

.text-blue {
    color: var(--color-secondary-blue);
    text-decoration: underline;
}

.p-flex-basis-auto {
    flex-basis: auto;
}

.kpi-content-container {
    border-right: 1px solid #c0c0c0;
}

.kpi-sub-headings {
    height: 40px;
}


:host::ng-deep .p-dialog {
    width: auto !important;
    max-width: 90vw !important;
    min-width: 544px;
}

:host ::ng-deep.p-dialog-header-icons {
    top: -8px;
    right: -8px;
    border-radius: 2px;
    background-color: black;
    border: none;
    padding: 5px;
}

:host ::ng-deep .p-dialog-header-close-icon {
    color: white;
}

.column-content-spacing {
    margin: 0px 0px 4px 0px;
    display: inline-block;
}

.export-button {
    position: absolute;
    right: 10px;
    top: 14px;
}

::ng-deep .p-overflow-hidden {
    overflow: unset;
}

::ng-deep .inner-wraper .p-tooltip .ui-tooltip{
    background-color: #fbfbfb;
  }

  ::ng-deep div.inner-content{
    font-family: var(--font-medium);
    color: #333;
    background-color: #fbfbfb;
    margin: -10px -10px;
    padding: 5px 7px;
    border: 1px solid #ced9d7;
    border-radius: 5px;
    box-shadow: 1px 1px #ced9d7;

  }

  .color-indicator{
      width: 10px;
      height: inherit;
  }
  .noSpace{
    padding: 0;
    margin: 0;
    letter-spacing: -4px;
}
.first-cell{
    height: 4.8rem;
}
.cell-indicator{
    display: flex;
    align-items: center;
    height: 100%;
}
.kpi-formula{
    font-size: .9rem;
}

.no-data{
    position: absolute;
    top: 0 !important;
    left: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
    padding: 10px;
    font-size: 13px;
    height: 40px;
    text-align: center;
    background-color: #dedede;
    margin: auto;
  }

  .chart-container-height{
    height: 300px;
  }

  .subKPi{
    display: flex;
    flex-direction: column;
}

:host::ng-deep.iteration-tabs .p-tabview-nav-link{
    border: 1px solid #707070 !important;
    border-radius: 5px !important;
    padding: 10px !important;
    margin: 10px !important;
    font-size: 12px;
    text-transform: uppercase;
}
:host::ng-deep.iteration-tabs .p-tabview .p-tabview-nav-container{
    padding: 0;
}
:host::ng-deep.iteration-tabs li.p-highlight .p-tabview-nav-link{
    color: #fff !important;
    background: var(--color-black) !important;
}
:host::ng-deep.iteration-tabs .p-tabview .p-tabview-panels{
    background: transparent;
    padding: 0 ;
}
:host::ng-deep .p-tabview .p-tabview-nav .p-tabview-ink-bar{
    display: none;
}