.slider-wrapper {
    display: flex;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.nav-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.slider-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    /* Hide scrollbar for a cleaner look */
    -webkit-overflow-scrolling: touch;
}

.slider-container::-webkit-scrollbar {
    display: none;
}

:host ::ng-deep .slider-item .p-button {
    flex: 0 0 auto;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: rgb(107, 115, 124);
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    transition: background 0.3s;
}

:host ::ng-deep .slider-item.active .p-button {
    border: 1px solid #06A0FF;
    background-color: #06A0FF;
    color: #fff;
}

:host ::ng-deep .slider-item:hover {
    background: #e0e0e0;
}

/* Optional styling for navigation buttons */
.nav-button.left {
    margin-right: 0.5rem;
}

.nav-button.right {
    margin-left: 0.5rem;
}

.selected-filter-container {
    background-color: #F5F9FF;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;    
}

.selected-filter-sprint-container {
    background-color: #F5F9FF;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.align-list-marker {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}


:host ::ng-deep .delete-kpi-btn {
    border: 1px solid red;
    color: #FFF;
    background-color: red;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}

.slider-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.kpi-div {
    border: 1px solid #cecece;
    border-radius: 10px;
    background-color: #fff;
}

.print-header {
    display: none;
}


@media print {

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .kpi-div {
        height: 85vh;
        /* Full viewport height */
    }

    .kpi-div:not(:first-child) {
        page-break-before: always;
        height: 90vh;
        /* Ensures it starts on a new page */
    }

    .print-header {
        display: block;
        width: 100%;
        text-align: center;
    }

    @page {
        size: A4 portrait;
        /* Ensures the page is A4 size */
        margin: 0;
        /* Removes any default margins */
    }

    :host ::ng-deep body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    :host ::ng-deep div.report-kpi-card-container {
        width: 100%;
        background-color: yellow !important;
    }

    :host ::ng-deep .delete-kpi-btn {
        display: none !important;
    }

    :host ::ng-deep svg {
        width: 95% !important;
    }

    :host ::ng-deep .selected-filter-container {
        background-color: blue;
    }

    .slider-div {
        display: none;
    }


}