<div *ngIf="!fullPageLoader && !noKpis; else noKpiTemplate" class="backlog-screen">
  <div id="message"></div>
  <ng-container *ngIf="!noProjects; else noProjectsTemplate">
    <ng-container *ngIf="!noSprints; else noSprintsTemplate">
      <div *ngIf="selectedtype.toLowerCase() === 'scrum'">
        <div class="clearfix"></div>
        <div class="right-container col">
          <p-tabView class="iteration-tabs" [(activeIndex)]="activeIndex" (onChange)="handleTabChange($event)">
            <p-tabPanel *ngFor="let board of navigationTabs" [header]="board.label" [disabled]="board.count == 0">
              <ng-container *ngIf="(updatedConfigGlobalData | json) != '{}' && updatedConfigGlobalData != undefined">
                <div class="p-grid p-pr-2 p-pl-2 justify-content-start p-pt-2">
                  <!-- This container will be using for  tabs in which we have full and half width both kpi - start -->
                  <ng-container *ngIf="board.width === 'half'">
                    <!-- full width kpi render start -->
                    <div *ngIf="board.fullWidthKpis.length > 0; else fullPageLoader" class="subKPi p-sm-12" cdkDropList (cdkDropListDropped)="drop($event,board)"
                      [cdkDropListData]="board.fullWidthKpis">
                      <ng-container *ngFor="let kpi of board.fullWidthKpis">
                        <div class="card-type-1" *ngIf="!kpi?.kpiDetail?.chartType ; else showGraph" cdkDrag cdkDragLockAxis="y">
                          <app-kpi-card [trendBoxColorObj]="trendBoxColorObj" [kpiData]="kpi"
                            (downloadExcel)="downloadExcel(kpi.kpiId, kpi.kpiName, kpi.kpiDetail.kanban)"
                            [dropdownArr]="kpiDropdowns[kpi.kpiId]"
                            (optionSelected)="handleSelectedOptionForCard($event, kpi)" [showExport]="false"
                            [showTrendIndicator]="showKpiTrendIndicator[kpi?.kpiId] ==false ? false : true"
                            [isShow]="true" [showChartView]="'table'" [showCommentIcon]="true"
                            [commentCount]="kpiCommentsCountObj[kpi.kpiId]"
                            (getCommentCountByKpi)="getKpiCommentsCount($event)" (reloadKPITab)="reloadKPI($event)">
                            <ng-container *ngIf="!noTabAccess; else noDataAccess">
                              <div *ngIf="ifKpiExist(kpi.kpiId) != -1; else loader">
                                <div class="p-d-flex p-justify-around p-align-center w-100 p-h-100"
                                  *ngIf="(kpiChartData | json) !== '{}' && kpiChartData != undefined && kpiChartData[kpi.kpiId]?.length > 0 && !kpiLoader;else noData">
                                  <ng-container *ngFor="let item of kpiChartData[kpi.kpiId]; let index=index">
                                    <ng-container *ngFor="let x of item.data; let i = index">
                                      <div class="p-3 p-text-center"
                                        [ngClass]="{'wrapper-w-50' : true ,'kpi-content-container': item.data.length ==2 && i!==1 }">
                                        <h3 class="text-label">{{x?.label}}
                                          <img *ngIf="x?.hasOwnProperty('modalValues') && x?.modalValues?.length > 0"
                                            src="../../../assets/img/arrow-down.svg" alt="arrow-down"
                                            class="btn-arrow-down"
                                            (click)="handleArrowClick(leadTime, x?.label, x?.modalValues)" />
                                        </h3>
                                        <p *ngIf="x?.labelInfo" class="p-m-0">{{x?.labelInfo}}</p>
                                        <p class="text-data">
                                          <span
                                            *ngIf="x?.label?.toLowerCase() === 'backlog strength'; else otherFields">
                                            {{checkSprint(x?.value, x?.unit, kpi?.kpiId)}}
                                          </span>
                                          <ng-template #otherFields>
                                            <span
                                              [ngClass]="{'text-red': x?.label?.toLowerCase() === 'scope added' || x?.label?.toLowerCase() === 'issues at risk'}">{{x?.value
                                              != -99 ?
                                              convertToHoursIfTime(x?.value,x?.unit) : '-'}}</span>
                                            <span
                                              *ngIf="x?.value != -99 && x?.unit && x?.unit?.toLowerCase() !== 'hours'">
                                              {{ x?.value != -99 ? x?.unit : ''}}</span>
                                            <span *ngIf="x?.value1 && x?.value1 != -99 && x?.value1 != undefined"
                                              [ngClass]="{'text-red': x?.label?.toLowerCase() === 'scope added'}">{{'/'
                                              +
                                              x?.value1}}</span>
                                            <span
                                              *ngIf="x?.value1 && x?.value1 != -99 && x?.unit1 && x?.unit1?.toLowerCase() !== 'hours'">
                                              {{ x?.value1 != -99 ? x?.unit1 : ''}}
                                            </span>

                                          </ng-template>
                                        </p>
                                      </div>
                                    </ng-container>
                                  </ng-container>
                                </div>
                              </div>
                            </ng-container>
                          </app-kpi-card>
                        </div>
                        <ng-template #showGraph>
                          <div class="backlog-chart p-pb-3"
                            [ngClass]="{'backlog-dashboard' : kpi?.kpiDetail?.chartType ==='progress-bar'}" cdkDrag cdkDragLockAxis="y" *ngIf="!noTabAccess; else noDataAccess">
                            <app-kpi-card [trendBoxColorObj]="trendBoxColorObj" [kpiData]="kpi"
                              [trendData]="kpiTrendObject[kpi?.kpiId]"
                              (downloadExcel)="downloadExcel(kpi.kpiId, kpi.kpiName, kpi.kpiDetail.kanban,kpi?.kpiDetail?.additionalFilterSupport, kpi?.kpiDetail?.chartType)"
                              [dropdownArr]="kpiDropdowns[kpi?.kpiId]"
                              (optionSelected)="handleSelectedOption($event, kpi)" [showExport]="true" [isShow]="true"
                              [showChartView]="'chart'"
                              [showTrendIndicator]="showKpiTrendIndicator[kpi?.kpiId] ==false ? false : true"
                              [showCommentIcon]="true" [commentCount]="kpiCommentsCountObj[kpi?.kpiId]"
                              (getCommentCountByKpi)="getKpiCommentsCount($event)" (reloadKPITab)="reloadKPI($event)">
                              <ng-container>
                                <ng-container
                                  *ngIf="(kpiChartData | json) !== '{}' && kpiChartData != undefined;else noData">
                                  <div class="p-pl-3 p-pr-3 w-100 p-pb-5" [ngSwitch]="kpi?.kpiDetail?.chartType"
                                    *ngIf="ifKpiExist(kpi.kpiId) != -1; else loader">
                                    <ng-container *ngIf="(kpiChartData[kpi?.kpiId]?.length > 0); else noData">
                                      <app-groupstackchart *ngSwitchCase="'stackedColumn'" [legendType]="'normal'"
                                        [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
                                        [unit]="kpi?.kpiDetail?.kpiUnit"
                                        [thresholdValue]="kpiThresholdObj[kpi?.kpiId]"
                                        [data]="kpiChartData[kpi?.kpiId]" [color]="chartColorList" [kpiId]="kpi?.kpiId"
                                        [selectedtype]="selectedtype" [activeTab]="activeIndex" [isAggregationStacks] = "(kpi?.kpiDetail?.isAggregationStacks === false) ? false : true"></app-groupstackchart>
                                      <app-multiline *ngSwitchCase="'line'"
                                        [thresholdValue]="kpiThresholdObj[kpi?.kpiId]"
                                        [unit]="kpi?.kpiDetail?.kpiUnit" [data]="kpiChartData[kpi?.kpiId]"
                                        [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
                                        [name]="kpi?.kpiName" [kpiId]="kpi?.kpiId" [color]="chartColorList"
                                        [selectedtype]="selectedtype" [activeTab]="activeIndex" [board]="'backlog'" 
                                        [lowerThresholdBG]="kpi?.kpiDetail?.lowerThresholdBG" [upperThresholdBG]="kpi?.kpiDetail?.upperThresholdBG">
                                      </app-multiline>
                                      <app-grouped-column-plus-line-chart *ngSwitchCase="'grouped_column_plus_line'"
                                        [data]="kpiChartData[kpi?.kpiId]" [lineChart]="true"
                                        [unit]="kpi?.kpiDetail?.kpiUnit"
                                        [thresholdValue]="kpiThresholdObj[kpi?.kpiId]"
                                        [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
                                        [color]="chartColorList[kpi?.kpiId]" [barLegend]="kpi?.kpiDetail?.barLegend"
                                        [lineLegend]="kpi?.kpiDetail?.lineLegend" [selectedtype]="selectedtype">
                                      </app-grouped-column-plus-line-chart>
                                      <app-progressbar *ngSwitchCase="'progress-bar'"
                                        [value]="kpiChartData[kpi?.kpiId][0]?.value[0]?.value"
                                        [maxValue]="kpiChartData[kpi?.kpiId][0]?.value[0]?.maxValue"></app-progressbar>
                                      <app-piechart *ngSwitchCase="'pieChart'"
                                        [data]="kpiChartData[kpi?.kpiId]"></app-piechart>
                                      <app-stacked-area-chart *ngSwitchCase="'stacked-area'" [kpiId]="kpi?.kpiId"
                                        [data]="kpiChartData[kpi?.kpiId]"  [activeTab]="activeIndex"></app-stacked-area-chart>
                                      <ng-container *ngSwitchCase="'horizontalPercentBarChart'">
                                        <app-horizontal-percent-bar-chart [kpiId]="kpi?.kpiId" [kpiWidth]="kpi?.kpiDetail?.kpiWidth" *ngIf="(kpiChartData | json) !== '{}' && kpiChartData != undefined && kpiChartData[kpi?.kpiId][0]['value'];else noDataForKPI"
                                          [data]="kpiChartData[kpi?.kpiId]" [activeTab]="activeIndex">
                                        </app-horizontal-percent-bar-chart>
                                      </ng-container>
                                    </ng-container>
                                  </div>

                                </ng-container>

                              </ng-container>
                            </app-kpi-card>
                          </div>
                        </ng-template>
                        <ng-template #noData>
                          <div class="overlay noData"
                            *ngIf="(kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length) || (kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length)|| kpiLoader || kpiSpecificLoader.includes(kpi.kpiId)">
                            <div class="loading-img"></div>
                          </div>
                          <div class="min-ht"
                            *ngIf="(kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length === 0 && kpiLoader === false && !kpiSpecificLoader.includes(kpi.kpiId)) || (kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length === 0 && kpiLoader === false && !kpiSpecificLoader.includes(kpi.kpiId))">
                            <div class="err">No Data Available</div>
                          </div>

                        </ng-template>
                        <ng-template #loader>
                          <div class="overlay loader">
                            <div class="loading-img"></div>
                          </div>
                        </ng-template>
                      </ng-container>
                    </div>
                    <!-- full width kpi render end -->
                    <!-- kpi part 1 render start -->
                    
                    <div class="subKPi p-sm-6" cdkDropList (cdkDropListDropped)="drop($event,board)"
                      [cdkDropListData]="board.kpiPart1">
                      <ng-container *ngFor="let kpi of board.kpiPart1">
                        <div class="card-type-1 p-pb-3" *ngIf="!kpi?.kpiDetail?.chartType ; else showGraph" cdkDrag cdkDragLockAxis="y">
                          <app-kpi-card [trendBoxColorObj]="trendBoxColorObj" [kpiData]="kpi"
                            (downloadExcel)="downloadExcel(kpi.kpiId, kpi.kpiName, kpi.kpiDetail.kanban)"
                            [dropdownArr]="kpiDropdowns[kpi?.kpiId]"
                            (optionSelected)="handleSelectedOptionForCard($event, kpi)" [showExport]="false"
                            [isShow]="true" [showChartView]="'table'" [showCommentIcon]="true"
                            [commentCount]="kpiCommentsCountObj[kpi?.kpiId]"
                            [showTrendIndicator]="showKpiTrendIndicator[kpi?.kpiId]"
                            (getCommentCountByKpi)="getKpiCommentsCount($event)" (reloadKPITab)="reloadKPI($event)">
                            <ng-container *ngIf="!noTabAccess; else noDataAccess">
                              <div *ngIf="ifKpiExist(kpi.kpiId) != -1; else loader">
                                <div class="p-d-flex p-justify-around p-align-center w-100 p-h-100"
                                  *ngIf="(kpiChartData | json) !== '{}' && kpiChartData != undefined && kpiChartData[kpi?.kpiId]?.length > 0 && !kpiLoader;else noData">
                                  <ng-container *ngFor="let item of kpiChartData[kpi?.kpiId]; let index=index">
                                    <ng-container *ngFor="let x of item.data; let i = index">
                                      <div class="p-3 p-text-center"
                                        [ngClass]="{'wrapper-w-50' : true ,'kpi-content-container': item.data.length ==2 && i!==1 }">
                                        <h3 class="text-label">{{x?.label}}
                                          <img *ngIf="x?.hasOwnProperty('modalValues') && x?.modalValues?.length > 0"
                                            src="../../../assets/img/arrow-down.svg" alt="arrow-down"
                                            class="btn-arrow-down"
                                            (click)="handleArrowClick(kpi, x?.label, x?.modalValues)" />
                                        </h3>
                                        <p *ngIf="x?.labelInfo" class="p-m-0">{{x?.labelInfo}}</p>
                                        <p class="text-data">
                                          <span
                                            *ngIf="x?.label?.toLowerCase() === 'backlog strength'; else otherFields">
                                            {{checkSprint(x?.value, x?.unit, kpi?.kpiId)}}
                                          </span>
                                          <ng-template #otherFields>
                                            <span
                                              [ngClass]="{'text-red': x?.label?.toLowerCase() === 'scope added' || x?.label?.toLowerCase() === 'issues at risk'}">{{x?.value
                                              != -99 ?
                                              convertToHoursIfTime(x?.value,x?.unit) : '-'}}</span>
                                            <span
                                              *ngIf="x?.value != -99 && x?.unit && x?.unit?.toLowerCase() !== 'hours'">
                                              {{ x?.value != -99 ? x?.unit : ''}}</span>
                                            <span *ngIf="x?.value1 && x?.value1 != -99 && x?.value1 != undefined"
                                              [ngClass]="{'text-red': x?.label?.toLowerCase() === 'scope added'}">{{'/'
                                              +
                                              x?.value1}}</span>
                                            <span
                                              *ngIf="x?.value1 && x?.value1 != -99 && x?.unit1 && x?.unit1?.toLowerCase() !== 'hours'">
                                              {{ x?.value1 != -99 ? x?.unit1 : ''}}
                                            </span>

                                          </ng-template>
                                        </p>
                                      </div>
                                    </ng-container>
                                  </ng-container>
                                </div>
                              </div>
                            </ng-container>
                          </app-kpi-card>
                        </div>
                        <ng-template #showGraph>
                          <div class="backlog-chart p-pb-3"
                            [ngClass]="{'backlog-dashboard' : kpi?.kpiDetail?.chartType ==='progress-bar'}" cdkDrag cdkDragLockAxis="y">
                            <app-kpi-card [trendBoxColorObj]="trendBoxColorObj" [kpiData]="kpi"
                              [trendData]="kpiTrendObject[kpi?.kpiId]"
                              (downloadExcel)="downloadExcel(kpi.kpiId, kpi.kpiName, kpi.kpiDetail.kanban,kpi?.kpiDetail?.additionalFilterSupport, kpi?.kpiDetail?.chartType)"
                              [dropdownArr]="kpiDropdowns[kpi?.kpiId]"
                              (optionSelected)="handleSelectedOption($event, kpi)" [showExport]="true" [isShow]="true"
                              [showChartView]="'chart'"
                              [showTrendIndicator]="showKpiTrendIndicator[kpi?.kpiId]"
                              [showCommentIcon]="true" [commentCount]="kpiCommentsCountObj[kpi?.kpiId]"
                              (getCommentCountByKpi)="getKpiCommentsCount($event)" (reloadKPITab)="reloadKPI($event)">
                              <ng-container *ngIf="!noTabAccess; else noDataAccess">
                                <ng-container
                                  *ngIf="(kpiChartData | json) !== '{}' && kpiChartData != undefined;else noData">
                                  <div class="p-pl-3 p-pr-3 w-100 p-pb-5" [ngSwitch]="kpi?.kpiDetail?.chartType"
                                    *ngIf="ifKpiExist(kpi.kpiId) != -1; else loader">
                                    <ng-container *ngIf="(kpiChartData[kpi?.kpiId]?.length > 0); else noData">
                                      <app-groupstackchart *ngSwitchCase="'stackedColumn'" [legendType]="'normal'"
                                        [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
                                        [unit]="kpi?.kpiDetail?.kpiUnit"
                                        [thresholdValue]="kpiThresholdObj[kpi?.kpiId]"
                                        [data]="kpiChartData[kpi?.kpiId]" [color]="chartColorList" [kpiId]="kpi?.kpiId"
                                        [selectedtype]="selectedtype" [activeTab]="activeIndex" [isAggregationStacks] = "(kpi?.kpiDetail?.isAggregationStacks === false) ? false : true"></app-groupstackchart>
                                      <app-multiline *ngSwitchCase="'line'"
                                        [thresholdValue]="kpiThresholdObj[kpi?.kpiId]"
                                        [unit]="kpi?.kpiDetail?.kpiUnit" [data]="kpiChartData[kpi?.kpiId]"
                                        [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
                                        [name]="kpi?.kpiName" [kpiId]="kpi?.kpiId" [color]="chartColorList"
                                        [selectedtype]="selectedtype" [activeTab]="activeIndex" [board]="'backlog'" 
                                        [lowerThresholdBG]="kpi?.kpiDetail?.lowerThresholdBG" [upperThresholdBG]="kpi?.kpiDetail?.upperThresholdBG">
                                      </app-multiline>
                                      <app-grouped-column-plus-line-chart *ngSwitchCase="'grouped_column_plus_line'"
                                        [data]="kpiChartData[kpi?.kpiId]" [lineChart]="true"
                                        [unit]="kpi?.kpiDetail?.kpiUnit"
                                        [thresholdValue]="kpiThresholdObj[kpi?.kpiId]"
                                        [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
                                        [color]="chartColorList[kpi?.kpiId]" [barLegend]="kpi?.kpiDetail?.barLegend"
                                        [lineLegend]="kpi?.kpiDetail?.lineLegend" [selectedtype]="selectedtype">
                                      </app-grouped-column-plus-line-chart>
                                      <app-progressbar *ngSwitchCase="'progress-bar'"
                                        [value]="kpiChartData[kpi?.kpiId][0]?.value[0]?.value"
                                        [maxValue]="kpiChartData[kpi?.kpiId][0]?.value[0]?.maxValue"></app-progressbar>
                                      <app-piechart *ngSwitchCase="'pieChart'"
                                        [data]="kpiChartData[kpi?.kpiId]"></app-piechart>
                                      <app-stacked-area-chart *ngSwitchCase="'stacked-area'" [kpiId]="kpi?.kpiId"
                                        [data]="kpiChartData[kpi?.kpiId]" [activeTab]="activeIndex"></app-stacked-area-chart>
                                      <ng-container *ngSwitchCase="'horizontalPercentBarChart'">
                                        <app-horizontal-percent-bar-chart [kpiId]="kpi?.kpiId" [kpiWidth]="kpi?.kpiDetail?.kpiWidth" *ngIf="(kpiChartData | json) !== '{}' && kpiChartData != undefined && kpiChartData[kpi?.kpiId][0]['value'];else noDataForKPI"
                                          [data]="kpiChartData[kpi?.kpiId]" [activeTab]="activeIndex">
                                        </app-horizontal-percent-bar-chart>
                                      </ng-container>
                                    </ng-container>
                                  </div>

                                </ng-container>

                              </ng-container>
                            </app-kpi-card>
                          </div>
                        </ng-template>
                        <ng-template #noData>
                          <div class="overlay noData"
                            *ngIf="(kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length) || (kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length)|| kpiLoader || kpiSpecificLoader.includes(kpi.kpiId)">
                            <div class="loading-img"></div>
                          </div>
                          <div class="min-ht"
                            *ngIf="(kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length === 0 && kpiLoader === false && !kpiSpecificLoader.includes(kpi.kpiId)) || (kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length === 0 && kpiLoader === false && !kpiSpecificLoader.includes(kpi.kpiId))">
                            <div class="err">No Data Available</div>
                          </div>

                        </ng-template>
                        <ng-template #loader>
                          <div class="overlay loader">
                            <div class="loading-img"></div>
                          </div>
                        </ng-template>
                      </ng-container>
                    </div>
                    <!-- kpi part 1 render end -->
                    <!-- kpi part 2 render start -->
                    <div class="subKPi p-sm-6" cdkDropList (cdkDropListDropped)="drop($event,board)"
                      [cdkDropListData]="board.kpiPart2">
                      <ng-container *ngFor="let kpi of board.kpiPart2">
                        <div class="card-type-1 p-pb-3" *ngIf="!kpi?.kpiDetail?.chartType ; else showGraph" cdkDrag cdkDragLockAxis="y">
                          <app-kpi-card [trendBoxColorObj]="trendBoxColorObj" [kpiData]="kpi"
                            (downloadExcel)="downloadExcel(kpi.kpiId, kpi.kpiName, kpi.kpiDetail.kanban)"
                            [dropdownArr]="kpiDropdowns[kpi?.kpiId]"
                            (optionSelected)="handleSelectedOptionForCard($event, kpi)" [showExport]="false"
                            [isShow]="true" [showChartView]="'table'" [showCommentIcon]="true"
                            [commentCount]="kpiCommentsCountObj[kpi?.kpiId]"
                            [showTrendIndicator]="showKpiTrendIndicator[kpi?.kpiId]"
                            (getCommentCountByKpi)="getKpiCommentsCount($event)" (reloadKPITab)="reloadKPI($event)">
                            <ng-container *ngIf="!noTabAccess; else noDataAccess">
                              <div *ngIf="ifKpiExist(kpi.kpiId) != -1; else loader">
                                <div class="p-d-flex p-justify-around p-align-center w-100 p-h-100"
                                  *ngIf="(kpiChartData | json) !== '{}' && kpiChartData != undefined && kpiChartData[kpi?.kpiId]?.length > 0 && !kpiLoader;else noData">
                                  <ng-container *ngFor="let item of kpiChartData[kpi?.kpiId]; let index=index">
                                    <ng-container *ngFor="let x of item.data; let i = index">
                                      <div class="p-3 p-text-center"
                                        [ngClass]="{'wrapper-w-50' : true ,'kpi-content-container': item.data.length ==2 && i!==1 }">
                                        <h3 class="text-label">{{x?.label}}
                                          <img *ngIf="x?.hasOwnProperty('modalValues') && x?.modalValues?.length > 0"
                                            src="../../../assets/img/arrow-down.svg" alt="arrow-down"
                                            class="btn-arrow-down"
                                            (click)="handleArrowClick(kpi, x?.label, x?.modalValues)" />
                                        </h3>
                                        <p *ngIf="x?.labelInfo" class="p-m-0">{{x?.labelInfo}}</p>
                                        <p class="text-data">
                                          <span
                                            *ngIf="x?.label?.toLowerCase() === 'backlog strength'; else otherFields">
                                            {{checkSprint(x?.value, x?.unit, kpi?.kpiId)}}
                                          </span>
                                          <ng-template #otherFields>
                                            <span
                                              [ngClass]="{'text-red': x?.label?.toLowerCase() === 'scope added' || x?.label?.toLowerCase() === 'issues at risk'}">{{x?.value
                                              != -99 ?
                                              convertToHoursIfTime(x?.value,x?.unit) : '-'}}</span>
                                            <span
                                              *ngIf="x?.value != -99 && x?.unit && x?.unit?.toLowerCase() !== 'hours'">
                                              {{ x?.value != -99 ? x?.unit : ''}}</span>
                                            <span *ngIf="x?.value1 && x?.value1 != -99 && x?.value1 != undefined"
                                              [ngClass]="{'text-red': x?.label?.toLowerCase() === 'scope added'}">{{'/'
                                              +
                                              x?.value1}}</span>
                                            <span
                                              *ngIf="x?.value1 && x?.value1 != -99 && x?.unit1 && x?.unit1?.toLowerCase() !== 'hours'">
                                              {{ x?.value1 != -99 ? x?.unit1 : ''}}
                                            </span>

                                          </ng-template>
                                        </p>
                                      </div>
                                    </ng-container>
                                  </ng-container>
                                </div>
                              </div>
                            </ng-container>
                          </app-kpi-card>
                        </div>
                        <ng-template #showGraph>
                          <div class="backlog-chart p-pb-3"
                            [ngClass]="{'backlog-dashboard' : kpi?.kpiDetail?.chartType ==='progress-bar'}" cdkDrag cdkDragLockAxis="y">
                            <app-kpi-card [trendBoxColorObj]="trendBoxColorObj" [kpiData]="kpi"
                              [trendData]="kpiTrendObject[kpi?.kpiId]"
                              (downloadExcel)="downloadExcel(kpi.kpiId, kpi.kpiName, kpi.kpiDetail.kanban,kpi?.kpiDetail?.additionalFilterSupport, kpi?.kpiDetail?.chartType)"
                              [dropdownArr]="kpiDropdowns[kpi?.kpiId]"
                              (optionSelected)="handleSelectedOption($event, kpi)" [showExport]="true" [isShow]="true"
                              [showChartView]="'chart'"
                              [showTrendIndicator]="showKpiTrendIndicator[kpi?.kpiId]"
                              [showCommentIcon]="true" [commentCount]="kpiCommentsCountObj[kpi?.kpiId]"
                              (getCommentCountByKpi)="getKpiCommentsCount($event)" (reloadKPITab)="reloadKPI($event)">
                              <ng-container *ngIf="!noTabAccess; else noDataAccess">
                                <ng-container
                                  *ngIf="(kpiChartData | json) !== '{}' && kpiChartData != undefined;else noData">
                                  <div class="p-pl-3 p-pr-3 w-100 p-pb-5" [ngSwitch]="kpi?.kpiDetail?.chartType"
                                    *ngIf="ifKpiExist(kpi.kpiId) != -1; else loader">
                                    <ng-container *ngIf="(kpiChartData[kpi?.kpiId]?.length > 0); else noData">
                                      <app-groupstackchart *ngSwitchCase="'stackedColumn'" [legendType]="'normal'"
                                        [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
                                        [unit]="kpi?.kpiDetail?.kpiUnit"
                                        [thresholdValue]="kpiThresholdObj[kpi?.kpiId]"
                                        [data]="kpiChartData[kpi?.kpiId]" [color]="chartColorList" [kpiId]="kpi?.kpiId"
                                        [selectedtype]="selectedtype" [activeTab]="activeIndex" [isAggregationStacks] = "(kpi?.kpiDetail?.isAggregationStacks === false) ? false : true"></app-groupstackchart>
                                      <app-multiline *ngSwitchCase="'line'" [thresholdValue]="kpiThresholdObj[kpi?.kpiId]"
                                        [unit]="kpi?.kpiDetail?.kpiUnit" [data]="kpiChartData[kpi?.kpiId]"
                                        [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
                                        [name]="kpi?.kpiName" [kpiId]="kpi?.kpiId" [color]="chartColorList"
                                        [selectedtype]="selectedtype" [activeTab]="activeIndex" [board]="'backlog'" 
                                        [lowerThresholdBG]="kpi?.kpiDetail?.lowerThresholdBG" [upperThresholdBG]="kpi?.kpiDetail?.upperThresholdBG">
                                      </app-multiline>
                                      <app-grouped-column-plus-line-chart *ngSwitchCase="'grouped_column_plus_line'"
                                        [data]="kpiChartData[kpi?.kpiId]" [lineChart]="true"
                                        [unit]="kpi?.kpiDetail?.kpiUnit"
                                        [thresholdValue]="kpiThresholdObj[kpi?.kpiId]"
                                        [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
                                        [color]="chartColorList[kpi?.kpiId]" [barLegend]="kpi?.kpiDetail?.barLegend"
                                        [lineLegend]="kpi?.kpiDetail?.lineLegend" [selectedtype]="selectedtype">
                                      </app-grouped-column-plus-line-chart>
                                      <app-progressbar *ngSwitchCase="'progress-bar'"
                                        [value]="kpiChartData[kpi?.kpiId][0]?.value[0]?.value"
                                        [maxValue]="kpiChartData[kpi?.kpiId][0]?.value[0]?.maxValue"></app-progressbar>
                                      <app-piechart *ngSwitchCase="'pieChart'"
                                        [data]="kpiChartData[kpi?.kpiId]"></app-piechart>
                                      <app-stacked-area-chart *ngSwitchCase="'stacked-area'" [kpiId]="kpi?.kpiId"
                                        [data]="kpiChartData[kpi?.kpiId]" [activeTab]="activeIndex"></app-stacked-area-chart>
                                      <ng-container *ngSwitchCase="'horizontalPercentBarChart'">
                                        <app-horizontal-percent-bar-chart [kpiId]="kpi?.kpiId" [kpiWidth]="kpi?.kpiDetail?.kpiWidth" *ngIf="(kpiChartData | json) !== '{}' && kpiChartData != undefined && kpiChartData[kpi?.kpiId][0]['value'];else noDataForKPI"
                                          [data]="kpiChartData[kpi?.kpiId]" [activeTab]="activeIndex">
                                        </app-horizontal-percent-bar-chart>
                                      </ng-container>
                                    </ng-container>
                                  </div>

                                </ng-container>

                              </ng-container>
                            </app-kpi-card>
                          </div>
                        </ng-template>
                        <ng-template #noData>
                          <div class="overlay noData"
                            *ngIf="(kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length) || (kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length)|| kpiLoader || kpiSpecificLoader.includes(kpi.kpiId)">
                            <div class="loading-img"></div>
                          </div>
                          <div class="min-ht"
                            *ngIf="(kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length === 0 && kpiLoader === false && !kpiSpecificLoader.includes(kpi.kpiId)) || (kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length === 0 && kpiLoader === false && !kpiSpecificLoader.includes(kpi.kpiId))">
                            <div class="err">No Data Available</div>
                          </div>

                        </ng-template>
                        <ng-template #loader>
                          <div class="overlay loader">
                            <div class="loading-img"></div>
                          </div>
                        </ng-template>
                      </ng-container>
                    </div>
                    <!-- kpi part 2 render end -->
                  </ng-container>
                  <!-- This container will be using for  tabs in which we have full and half width both kpi - end -->
                  <!-- This container will be using for tabs in which  we have only full width kpi - start -->
                  <ng-container *ngIf="board.width === 'full'">
                    <div class="subKPi p-sm-12" cdkDropList (cdkDropListDropped)="drop($event,board)"
                      [cdkDropListData]="board.kpis">
                      <ng-container *ngFor="let kpi of board.kpis">
                        <div class="card-type-1 p-sm-12" *ngIf="!kpi?.kpiDetail?.chartType ; else showGraph" cdkDrag cdkDragLockAxis="y">
                          <app-kpi-card [trendBoxColorObj]="trendBoxColorObj" [kpiData]="kpi"
                            (downloadExcel)="downloadExcel(kpi.kpiId, kpi.kpiName, kpi.kpiDetail.kanban)"
                            [dropdownArr]="kpiDropdowns[kpi.kpiId]"
                            (optionSelected)="handleSelectedOptionForCard($event, kpi)" [showExport]="false"
                            [isShow]="true" [showChartView]="'table'" [showCommentIcon]="true"
                            [showTrendIndicator]="showKpiTrendIndicator[kpi?.kpiId]"
                            [commentCount]="kpiCommentsCountObj[kpi.kpiId]"
                            (getCommentCountByKpi)="getKpiCommentsCount($event)" (reloadKPITab)="reloadKPI($event)">
                            <ng-container *ngIf="!noTabAccess; else noDataAccess">
                              <div *ngIf="ifKpiExist(kpi.kpiId) != -1; else loader">
                                <div class="p-d-flex p-justify-around p-align-center w-100 p-h-100"
                                  *ngIf="(kpiChartData | json) !== '{}' && kpiChartData != undefined && kpiChartData[kpi.kpiId]?.length > 0 && !kpiLoader;else noData">
                                  <ng-container *ngFor="let item of kpiChartData[kpi.kpiId]; let index=index">
                                    <ng-container *ngFor="let x of item.data; let i = index">
                                      <div class="p-3 p-text-center"
                                        [ngClass]="{'wrapper-w-50' : true ,'kpi-content-container': item.data.length ==2 && i!==1 }">
                                        <h3 class="text-label">{{x?.label}}
                                          <img *ngIf="x?.hasOwnProperty('modalValues') && x?.modalValues?.length > 0"
                                            src="../../../assets/img/arrow-down.svg" alt="arrow-down"
                                            class="btn-arrow-down"
                                            (click)="handleArrowClick(leadTime, x?.label, x?.modalValues)" />
                                        </h3>
                                        <p *ngIf="x?.labelInfo" class="p-m-0">{{x?.labelInfo}}</p>
                                        <p class="text-data">
                                          <span
                                            *ngIf="x?.label?.toLowerCase() === 'backlog strength'; else otherFields">
                                            {{checkSprint(x?.value, x?.unit, kpi?.kpiId)}}
                                          </span>
                                          <ng-template #otherFields>
                                            <span
                                              [ngClass]="{'text-red': x?.label?.toLowerCase() === 'scope added' || x?.label?.toLowerCase() === 'issues at risk'}">{{x?.value
                                              != -99 ?
                                              convertToHoursIfTime(x?.value,x?.unit) : '-'}}</span>
                                            <span
                                              *ngIf="x?.value != -99 && x?.unit && x?.unit?.toLowerCase() !== 'hours'">
                                              {{ x?.value != -99 ? x?.unit : ''}}</span>
                                            <span *ngIf="x?.value1 && x?.value1 != -99 && x?.value1 != undefined"
                                              [ngClass]="{'text-red': x?.label?.toLowerCase() === 'scope added'}">{{'/'
                                              +
                                              x?.value1}}</span>
                                            <span
                                              *ngIf="x?.value1 && x?.value1 != -99 && x?.unit1 && x?.unit1?.toLowerCase() !== 'hours'">
                                              {{ x?.value1 != -99 ? x?.unit1 : ''}}
                                            </span>

                                          </ng-template>
                                        </p>
                                      </div>
                                    </ng-container>
                                  </ng-container>
                                </div>
                              </div>
                            </ng-container>
                          </app-kpi-card>
                        </div>
                        <ng-template #showGraph>
                          <div class="backlog-chart p-pb-3"
                            [ngClass]="{'backlog-dashboard' : kpi?.kpiDetail?.chartType ==='progress-bar'}" cdkDrag cdkDragLockAxis="y">
                            <app-kpi-card [trendBoxColorObj]="trendBoxColorObj" [kpiData]="kpi"
                              [trendData]="kpiTrendObject[kpi?.kpiId]"
                              (downloadExcel)="downloadExcel(kpi.kpiId, kpi.kpiName, kpi.kpiDetail.kanban,kpi?.kpiDetail?.additionalFilterSupport, kpi?.kpiDetail?.chartType)"
                              [dropdownArr]="kpiDropdowns[kpi?.kpiId]"
                              (optionSelected)="handleSelectedOption($event, kpi)" [showExport]="true" [isShow]="true"
                              [showChartView]="'chart'"
                              [showTrendIndicator]="showKpiTrendIndicator[kpi?.kpiId]"
                              [showCommentIcon]="true" [commentCount]="kpiCommentsCountObj[kpi?.kpiId]"
                              (getCommentCountByKpi)="getKpiCommentsCount($event)" (reloadKPITab)="reloadKPI($event)">
                              <ng-container *ngIf="!noTabAccess; else noDataAccess">
                                <ng-container
                                  *ngIf="(kpiChartData | json) !== '{}' && kpiChartData != undefined;else noData">
                                  <div class="p-pl-3 p-pr-3 w-100 p-pb-5" [ngSwitch]="kpi?.kpiDetail?.chartType"
                                    *ngIf="ifKpiExist(kpi.kpiId) != -1; else loader">
                                    <ng-container *ngIf="(kpiChartData[kpi?.kpiId]?.length > 0); else noData">
                                      <app-groupstackchart *ngSwitchCase="'stackedColumn'" [legendType]="'normal'"
                                        [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
                                        [unit]="kpi?.kpiDetail?.kpiUnit"
                                        [thresholdValue]="kpiThresholdObj[kpi?.kpiId]"
                                        [data]="kpiChartData[kpi?.kpiId]" [color]="chartColorList" [kpiId]="kpi?.kpiId"
                                        [selectedtype]="selectedtype" [activeTab]="activeIndex" [isAggregationStacks] = "(kpi?.kpiDetail?.isAggregationStacks === false) ? false : true"></app-groupstackchart>
                                      <app-multiline *ngSwitchCase="'line'"
                                        [thresholdValue]="kpiThresholdObj[kpi?.kpiId]"
                                        [unit]="kpi?.kpiDetail?.kpiUnit" [data]="kpiChartData[kpi?.kpiId]"
                                        [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
                                        [name]="kpi?.kpiName" [kpiId]="kpi?.kpiId" [color]="chartColorList"
                                        [selectedtype]="selectedtype" [activeTab]="activeIndex" [board]="'backlog'" 
                                        [lowerThresholdBG]="kpi?.kpiDetail?.lowerThresholdBG" [upperThresholdBG]="kpi?.kpiDetail?.upperThresholdBG">
                                      </app-multiline>
                                      <app-grouped-column-plus-line-chart *ngSwitchCase="'grouped_column_plus_line'"
                                        [data]="kpiChartData[kpi?.kpiId]" [lineChart]="true"
                                        [unit]="kpi?.kpiDetail?.kpiUnit"
                                        [thresholdValue]="kpiThresholdObj[kpi?.kpiId]"
                                        [xCaption]="kpi?.kpiDetail?.xaxisLabel" [yCaption]="kpi?.kpiDetail?.yaxisLabel"
                                        [color]="chartColorList[kpi?.kpiId]" [barLegend]="kpi?.kpiDetail?.barLegend"
                                        [lineLegend]="kpi?.kpiDetail?.lineLegend" [selectedtype]="selectedtype">
                                      </app-grouped-column-plus-line-chart>
                                      <app-progressbar *ngSwitchCase="'progress-bar'"
                                        [value]="kpiChartData[kpi?.kpiId][0]?.value[0]?.value"
                                        [maxValue]="kpiChartData[kpi?.kpiId][0]?.value[0]?.maxValue"></app-progressbar>
                                      <app-piechart *ngSwitchCase="'pieChart'"
                                        [data]="kpiChartData[kpi?.kpiId]"></app-piechart>
                                      <app-stacked-area-chart *ngSwitchCase="'stacked-area'" [kpiId]="kpi?.kpiId"
                                        [data]="kpiChartData[kpi?.kpiId]"  [activeTab]="activeIndex"></app-stacked-area-chart>
                                      <ng-container *ngSwitchCase="'horizontalPercentBarChart'">
                                        <app-horizontal-percent-bar-chart [kpiId]="kpi?.kpiId" [kpiWidth]="kpi?.kpiDetail?.kpiWidth" *ngIf="(kpiChartData | json) !== '{}' && kpiChartData != undefined && kpiChartData[kpi?.kpiId][0]['value'];else noDataForKPI"
                                          [data]="kpiChartData[kpi?.kpiId]" [activeTab]="activeIndex">
                                        </app-horizontal-percent-bar-chart>
                                      </ng-container>
                                    </ng-container>
                                  </div>

                                </ng-container>

                              </ng-container>
                            </app-kpi-card>
                          </div>
                        </ng-template>
                        <ng-template #noData>
                          <div class="overlay"
                            *ngIf="(kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length) || (kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length)|| kpiLoader || kpiSpecificLoader.includes(kpi.kpiId)">
                            <div class="loading-img"></div>
                          </div>
                          <div class="min-ht"
                            *ngIf="(kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length === 0 && kpiLoader === false && !kpiSpecificLoader.includes(kpi.kpiId)) || (kpiChartData[kpi.kpiId] && kpiChartData[kpi.kpiId]?.length === 0 && kpiLoader === false && !kpiSpecificLoader.includes(kpi.kpiId))">
                            <div class="err">No Data Available</div>
                          </div>

                        </ng-template>
                        <ng-template #loader>
                          <div class="overlay">
                            <div class="loading-img"></div>
                          </div>
                        </ng-template>
                      </ng-container>
                    </div>
                  </ng-container>
                  <!-- This container will be using for tabs in which  we have only full width kpi - end -->
                </div>
              </ng-container>
            </p-tabPanel>
          </p-tabView>

        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #noSprintsTemplate>
    <div class="overlay noSprintsTemplate" *ngIf="fullPageLoader">
      <div class="loading-img"></div>
    </div>
    <div class="p-d-flex p-align-center p-justify-center no-sprint-msg" *ngIf="!fullPageLoader">
      <h2 class="msg p-ml-3 p-mr-3">The selected project needs to be configured followed by the processor run from
        'Settings' for the KPI's to show up</h2>
    </div>
  </ng-template>
  <ng-template #noProjectsTemplate>
    <div class="overlay noProjectsTemplate" *ngIf="fullPageLoader">
      <div class="loading-img"></div>
    </div>
    <div class="p-d-flex p-align-center p-justify-center no-sprint-msg" *ngIf="!fullPageLoader">
      <h2 class="msg">Access to atleast one Scrum Project is required for the Backlog dashboard to be enabled</h2>
    </div>
  </ng-template>
  <ng-template #noDataAccess>
    <div class="overlay noDataAccess" *ngIf="fullPageLoader">
      <div class="loading-img"></div>
    </div>
    <div class="min-ht" *ngIf="!fullPageLoader">
      <div class="err"> No Data Available</div>
    </div>
  </ng-template>
</div>
<ng-template #noKpiTemplate>
  <div class="overlay noKpiTemplate" *ngIf="fullPageLoader">
    <div class="loading-img"></div>
  </div>
  <div class="no-kpi-template" *ngIf="!fullPageLoader">
    <app-no-access [selectedTab]="''" [userEnable]='enableByUser'></app-no-access>
  </div>
</ng-template>
<ng-template #fullPageLoader *ngIf="fullPageLoader">
  <div class="overlay fullPageLoader">
    <div class="loading-img"></div>
  </div>
</ng-template>


<p-dialog [(visible)]="displayModal" [modal]="true" [draggable]="true" [resizable]="true">
  <p-header>
    {{modalDetails['header']}}
    <button *ngIf="modalDetails['tableValues'].length > 0" pButton pRipple label="Export"
      class="p-button-secondary p-p-2 export-button" (click)="generateExcel()"></button>
  </p-header>
  <div class="dialog-body p-mb-4">
    <p-table [value]="modalDetails['tableValues']" styleClass="p-datatable-gridlines" loadingIcon="loading-img">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let item of modalDetails['tableHeadings'];let i = index;"
            [ngStyle]="{'width': i==0 ? '100px' : ''}">{{item}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-x>
        <tr>
          <td class="font-small">
            <a *ngIf="x['Issue URL']" [href]="x['Issue URL']" class="text-blue" target="_blank">{{x['Issue Id']}}</a>
            <span *ngIf="!x['Issue URL']">{{x['Issue Id']}}</span>
          </td>
          <ng-container *ngFor="let item of modalDetails['tableHeadings']; let i = index;">
            <td *ngIf="i!=0">
              {{x[item]}}
            </td>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>
  </div>

</p-dialog>

<app-export-excel #exportExcel></app-export-excel>
