.text-data {
    font-size: 1.5rem;
    color: var(--color-secondary-blue);
    margin: 0;
}

.text-label {
    color: var(--color-cyan-blue);
    font-size: 1.1rem;
    margin: 0;
}

.text-time {
    color: var(--color-red);
}
.text-data .unit{
    font-size: 1.5rem;
}
.btn-arrow-down{
    color: var(--color-black);
    width: .8rem;
    cursor: pointer;
}
.card-type-1{
    position: relative;
}

.text-blue{
    color: var(--color-secondary-blue);
    text-decoration: underline;
}

.p-h-100{
    height: 100%;
}

.kpi-content-container{
    border-right: 1px solid #c0c0c0;
}

:host::ng-deep .p-dialog{
    width: auto !important;
    max-width: 90vw !important;
    min-width: 544px;
}

:host ::ng-deep.p-dialog-header-icons{
    top: -8px;
    right: -8px;
    border-radius: 2px;
    background-color: black;
    border: none;
    padding: 5px;
}

:host ::ng-deep .p-dialog-header-close-icon {
    color: white;
  }

.export-button{
    position: absolute;
    right: 10px;
    top: 14px;
}

:host::ng-deep .config-confirmation.p-dialog {
    width: 50vw !important;
}
:host::ng-deep.iteration-tabs .p-tabview-nav-link{
    border: 1px solid #707070 !important;
    border-radius: 5px !important;
    padding: 10px !important;
    margin: 10px !important;
    font-size: 12px;
    text-transform: uppercase;
}
:host::ng-deep.iteration-tabs .p-tabview .p-tabview-nav-container{
    padding: 0;
}
:host::ng-deep.iteration-tabs li.p-highlight .p-tabview-nav-link{
    color: #fff !important;
    background: var(--color-black) !important;
}
:host::ng-deep.iteration-tabs .p-tabview .p-tabview-panels{
    background: transparent;
    padding: 0 ;
}
:host::ng-deep .p-tabview .p-tabview-nav .p-tabview-ink-bar{
    display: none;
}
