:host .kpi-card-container {
  background: #fff;
  border: 1px solid #D5DBE1;
  border-radius: 10px;
  opacity: 1;
  position: relative;
  max-height: 500px;
}
::ng-deep .kpi-filter .ng-placeholder {
  top: 5px;
}

:host .kpi-card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
