:host .kpi-card-container {
  background: #fff;
  border: 1px solid #D5DBE1;
  border-radius: 10px;
  opacity: 1;
  position: relative;
  max-height: 500px;
}
::ng-deep .kpi-filter .ng-placeholder {
  top: 5px;
}

:host .kpi-card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.legend{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 20px 0;
}

.legend li{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.legend li span{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.kpi-card-footer{
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
