<div class="kpi-card-container">
  <app-ps-kpi-card-header
    [cardHeaderData]="kpiHeaderData"
  ></app-ps-kpi-card-header>

  <div class="kpi-card-body">
    <app-ps-kpi-card-filter
      [kpiCardFilter]="kpiFilterData"
      (filterChange)="onFilterChange($event)"
    ></app-ps-kpi-card-filter>
    <div *ngIf="cardData?.chartType === 'stacked-bar-chart' ||  cardData?.chartType ===  'stacked-bar'" class="p-pr-5 p-pl-5">
      <div class="w-100">{{ cardData.dataGroup.summary.name }}</div>
      <h3>{{showCummalative()}}</h3>
    </div>
    <app-ps-kpi-card-chart-renderer
      [chartData]="currentChartData.chartData"
      [chartType]="cardData.chartType"
    ></app-ps-kpi-card-chart-renderer>
    <div class="p-d-flex p-pr-5 p-pl-5" *ngIf="cardData?.chartType ===  'bar-chart'">
      <div class="p-col-6" *ngFor="let dataGroup of cardData.dataGroup.dataGroup2">
        <h3>{{dataGroup.name}}</h3>
        <h3>{{convertToHoursIfTime(calculateValue(copyCardData.issueData,dataGroup.key),cardData.unit)}}</h3>
      </div>
    </div>
  </div>

  <div *ngIf="cardData?.chartType === 'stacked-bar-chart' ||  cardData?.chartType ===  'stacked-bar'" class="kpi-card-footer p-pr-5 p-pl-5">
    <ul class="legend" *ngFor="let footer of currentChartData?.chartData">
      <li class="p-p-3">
        <span [ngStyle]="{ 'background-color': footer.color }"></span
        >{{ footer.category }}
      </li>
    </ul>
  </div>
</div>
