:host .tooltip {
  position: absolute;
  z-index: 1070;
  top: 30px;
  background: #202429;
  box-shadow: none;
  opacity: 1;
  border-radius: 5px;
  max-width: 400px;
  min-width: 180px;
  color: #f5f9ff;
  margin-left: -24px;
  left: 0;
  min-height: 140px;
}

:host .tooltip.allText {
  min-height: unset;
  padding: 10px 0 20px 0 !important;
  border-left: 5px solid #f68605;
}

:host .tooltip h4 {
  font-family: var(--font-medium);
  margin: 5px 0;
  font-size: 10px;
}
.tooltip-wrapper {
  text-align: left;
  height: fit-content;
  overflow-x: hidden;
}

.tooltip-wrapper-card {
  max-height: 120px;
}

::ng-deep .tooltip-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.tooltip-wrapper::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}
.divide {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #fff;
}

.paragraph {
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
  font-family: var(--font-medium);
}

.link {
  color: #079fff;
  word-wrap: break-word;
}
ul.kpi-info-list {
  list-style: none;
  /* Remove default bullets */
}

.kpi-info-list::before {
  content: '\2022';
  color: #4472c4;
  font-weight: bold;
  display: inline-block;
  margin-left: -1.25rem;
  font-size: 15px;
  line-height: 1;
  vertical-align: text-bottom;
}
.tooltip::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #202429;
  position: absolute;
  top: -8px;
}

.tooltip.bottomArrow::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #fafafaf2;
  position: absolute;
  bottom: -15px;
  right: 23px;
}

.tooltip.bottomArrow::before {
  display: none;
}

.tooltip-kpi::before {
  left: 28px;
}
.tooltip-kpi {
  top: 30px;
  width: 500px !important;
  /* min-width: 550px; */
}

.tooltip-width {
  min-width: 450px;
  width: 350px !important;
}

.tooltip-wider {
  min-width: 550px;
  width: 550px !important;
}

.maturity-indicator {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  margin: 5px 3px 0 0;
}
