<div class="overlay">
    <div class="popup">
      <div class="overlay">
        <div class="popup">
          <div class="lds-icn">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="centered">
    <div class="lds-default ">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>