{
    "baseUrl":"${BASE_URL}",
    "SSO_LOGIN":"${SSO_LOGIN}",
    "CENTRAL_LOGIN_URL": "${CENTRAL_LOGIN_URL}",
    "CENTRAL_API_URL" : "${CENTRAL_API_URL}",
    "RESOURCE": "PSKnowHOW",
    "AUTHENTICATION_SERVICE": "${AUTHENTICATION_SERVICE}",
    "MAP_URL":"${MAP_URL}",
    "RETROS_URL": "${RETROS_URL}",
    "SPEED_SUITE":"${SPEED_SUITE}"
}
