<div class="p-px-5 p-py-2" [ngSwitch]="chartType">
  <app-stacked-bar-chart
    *ngSwitchCase="'stacked-bar-chart'"
    [data]="chartData"
    [width]="800"
    [height]="150"
  ></app-stacked-bar-chart>
  <app-barchart [data]="chartData" *ngSwitchCase="'bar-chart'"></app-barchart>
  <app-stacked-bar
    *ngSwitchCase="'stacked-bar'"
    [data]="chartData"
    [width]="800"
    [height]="150"
  ></app-stacked-bar>
  <app-semi-circle-donut-chart
    *ngSwitchCase="'semi-circle-donut-chart'"
    [value]="chartData"
    [max]="100"
    [width]="300"
    [height]="400"
  ></app-semi-circle-donut-chart>

  <div *ngSwitchDefault>Select a chart type</div>
</div>
