<div *ngIf="!createNewReportTemplate && existingReportData?.length" class="slider-wrapper">Select a Report</div>
<!-- Existing Reports Slider-->
<div class="slider-wrapper" *ngIf="!createNewReportTemplate && existingReportData?.length" role="region" aria-label="Existing Reports">
    <!-- Left Navigation Button -->
    <button class="nav-button left" (click)="scrollLeft()" role="button" tabindex="0" aria-label="Scroll left" (keydown.enter)="scrollLeft()">
        <i class="pi pi-chevron-left" aria-hidden="true"></i>
    </button>

    <!-- Scrollable container for report buttons -->
    <div class="slider-container" #sliderContainer role="list" aria-label="Available Reports">
        <p-button *ngFor="let report of existingReportData" class="slider-item"
            [ngClass]="{active: reportName === report.name}" (onClick)="reportName = report.name; emitReportName(report);" (keydown.enter)="reportName = report.name; emitReportName(report)"
            role="listitem"
            [attr.aria-label]="'Select Report: ' + report.name"
            [attr.aria-selected]="reportName === report.name"
            tabindex="0">
            {{ report.name }}
        </p-button>
    </div>

    <!-- Right Navigation Button -->
    <button class="nav-button right" (click)="scrollRight()" role="button" tabindex="0" aria-label="Scroll right" (keydown.enter)="scrollRight()">
        <i class="pi pi-chevron-right" aria-hidden="true"></i>
    </button>
</div>
<!-- Existing Reports Slider End-->


<div class="selected-filter-container p-d-flex p-jc-between p-p-3"
    *ngIf="reportObj.metadata.hieararchy && objectKeys(reportObj.metadata.hieararchy)?.length"
    role="region"
    aria-label="Selected Filter Container">
    <div class="tooltip-items p-m-0 p-pl-0 p-grid p-w-100" role="list">
        <div class="p-col-4" *ngFor="let superKey of objectKeys(reportObj.metadata.hieararchy)" role="listitem" tabindex="0">
            <strong>{{ superKey }}&nbsp;:&nbsp;</strong> <span>{{
                reportObj.metadata.hieararchy[superKey].nodeDisplayName }}</span>
        </div>
        <div class="p-d-flex p-jc-between"
        *ngFor="let superKey of objectValues(reportObj.metadata.trendColors)" role="group" [attr.aria-label]="'Trend Color Group: ' + superKey['labelName']">
        <div class="tooltip-items p-m-0 p-pl-0 p-grid p-w-100" role="list" tabindex="0">
            <div *ngFor="let key of objectKeys(superKey['tooltip']); let i = index;" class="p-col-4" role="listitem">
                <strong>{{ key }}&nbsp;:&nbsp;</strong> <span>{{ superKey['tooltip'][key] }}</span>
            </div>
            <div class="p-col-12" role="listitem">
                <strong>{{superKey['labelName'] | titlecase }}:&nbsp;</strong>
                <span class="align-list-marker" [ngStyle]="{'background':superKey?.color}" aria-hidden="true"></span>
                <span>{{ superKey['nodeDisplayName'] }}</span>
            </div>
        </div>
        <div class="tooltip-items p-m-0 p-pl-0 p-grid p-w-100" role="list" tabindex="0">
            <div *ngFor="let key of objectKeys(reportObj.metadata.additional_filters); let i = index;" class="p-col-4" role="listitem">
                <strong>{{ key }}&nbsp;:&nbsp;</strong> <span>{{ segregateSprints(reportObj.metadata.additional_filters, key, superKey ) }}</span>
            </div>
        </div>
    </div>
    </div>
</div>

<ng-container *ngIf="!objectKeys(reportObj.metadata.hieararchy)?.length">
    <div class="selected-filter-container p-d-flex p-p-3"
        *ngFor="let superKey of objectValues(reportObj.metadata.trendColors)" role="region" aria-label="Alternative Colors">
        <div class="tooltip-items p-m-0 p-pl-0 p-grid p-w-100" role="list" tabindex="0">
            <div *ngFor="let key of objectKeys(superKey['tooltip']); let i = index;" class="p-col-4" role="listitem">
                <strong>{{ key }}&nbsp;:&nbsp;</strong> <span>{{ superKey['tooltip'][key] }}</span>
            </div>
            <div class="p-col-4" role="listitem">
                <strong>{{superKey['labelName'] | titlecase }}:&nbsp;</strong>
                <span class="align-list-marker" [ngStyle]="{'background':superKey?.color}" aria-hidden="true"></span>
                <span>{{ superKey['nodeDisplayName'] }}</span>
            </div>
        </div>
        <div class="tooltip-items p-m-0 p-pl-0 p-grid p-w-100" role="list" tabindex="0">
            <div *ngFor="let key of objectKeys(reportObj.metadata.additional_filters); let i = index;" class="p-col-4" role="listitem">
                <strong>{{ key }}&nbsp;:&nbsp;</strong> <span>{{ segregateSprints(reportObj.metadata.additional_filters, key, superKey ) }}</span>
            </div>
        </div>
    </div>
</ng-container>

<app-report-kpi-card [currentChartData]="reportObj.chartData" [copyCardData]="reportObj.metadata.copyCardData" [kpiDataStatusCode]="reportObj.metadata.kpiDataStatusCode"
    [kpiData]="reportObj.metadata" [chartType]="reportObj.metadata.chartType" [kpiTrendsObj]="reportObj.metadata.trend"
    [trendColors]="reportObj.metadata.trendColors" [kpiFilters]="reportObj.metadata.selectedKPIFilters"
    [selectedButtonValue]="reportObj.metadata.selectedButtonValue" [cardData]="reportObj.metadata.cardData"
    [kpiFilterData]="reportObj.metadata?.kpiFilterData" [selectedTab]="reportObj.metadata.selectedTab"
    [iterationKPIFilterValues]="reportObj.metadata.iterationKPIFilterValues"
    [filterApplyData]="reportObj.metadata.filterApplyData"
    [kpiSelectedFilterObj]="reportObj.metadata.kpiSelectedFilterObj"
    [chartColorList]="reportObj.metadata.chartColorList" [yAxis]="reportObj.metadata.yAxis"
    [capturedAt]="reportObj.metadata.capturedAt" [kpiHeight]="reportObj.metadata.kpiHeight"
    [releaseEndDate]="reportObj.metadata.releaseEndDate" [hieararchy]="reportObj.metadata.hieararchy"
    [additional_filters]="reportObj.metadata.additional_filters">
</app-report-kpi-card>