<div class="p-m-auto table-container" *ngIf="cols && data">
    <p-table [value]="data" styleClass="p-datatable-sm" [autoLayout]="'true'" [ngStyle]="{'width':'100%'}">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of cols"> {{col.header}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <ng-container *ngFor="let col of cols;let i=index">
                    <td [ngStyle]="{'color': trendBoxColorObj[row.name]?.color}"><span>
                            <i class='fas fa-square show-marker'
                                *ngIf="showMarker && showMarkerColumnNumber===i"></i>{{row[col.field].length > 40 ?
                            (row[col.field].slice(0,40)+'...' ): row[col.field]}}</span>
                    </td>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
</div>