<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="p-grid">
  <div class="p-md-12 container1">
    <div class="tabs tabs-content p-xl-12">
      <div class="content">
        <h3 class="form_title">Grant User Access</h3>

        <div class="request-table-container">
          <p-table dataKey="id" [value]="newUserAccessRequestData" [paginator]="true" [rows]="5"
            styleClass="p-datatable-striped"  loadingIcon="loading-img">
            <ng-template pTemplate="header">
              <tr>
                <th id="userName" style="width: 250px;">User Name</th>
                <th id="email" style="width: 250px;">Email</th>
                <th id="acceptReject" style="width: 250px;">Actions</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-request let-expanded="expanded">
                <tr>
                  <td class='custom-table-cell  text-truncate'>{{request.username}}</td>
                  <td class='custom-table-cell  text-truncate'>{{request.email}}</td>
                  <td class='custom-table-cell'>
                    <div class="accept-reject-container p-d-flex">
                      <div class="action-btns p-mr-5" (click)="updateRequestStatus(request, true)">
                          <i class="fas fa-check"></i></div>
                      <div class="action-btns" (click)="updateRequestStatus(request, false)"><i
                          class="far fa-trash-alt"></i></div>
                    </div>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="5">
                  {{ showLoader ? 'Loading...' : 'No
                  pending access requests' }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>