.commentSummaryDdn {
  width: 300px;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  box-shadow: 0px 1px 10px #00000045;
  z-index: 2000;
  border-radius: 5px;
  left: -120px;
}

.commentSummaryDdn:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #fff;
  position: absolute;
  left: 135px;
  -webkit-filter: drop-shadow(0px -2px 1px #b9b9bb);
  filter: drop-shadow(0px -2px 1px #b9b9bb);
  top: -11px;
}

.comment-inner-section {
  max-height: 400px;
  overflow-y: auto;
  padding: 0 1rem 1rem;
}

.comment-author {
  color: var(--color-blue);
  text-transform: capitalize;
  font-size: 0.75rem;
}
.comment-date {
  color: var(--color-black);
  font-size: 0.625rem;
}

.comment-msg {
  color: var(--color-jet-black);
  font-weight: 500;
}
.comment-meta {
  color: var(--color-black);
  font-size: 0.625rem;
}
.comment-separator {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: var(--color-black);
}
